* {
  border: 0;
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Arial Rounded MT", Arial, sans-serif;
  position: relative;
  color: white;
}

body {
  background-image: url('../images/footer-slice.png');
}

#top {
  background-image: url('../images/body-slice.png');
  background-repeat: repeat-x;
}

ul {
  list-style-type: none;
}


a:link {
  text-decoration: none;
  color: #7DEF00;
}
a:visited {
  text-decoration: none;
  color: #7DEF00;
}
a:active {
  text-decoration: none;
  color: #7DEF00;
}
a:hover {
  text-decoration: underline;
  color: #7DEF00;
}


#api-nav a:link, #api-panel a:link {
  text-decoration: none;
  text-shadow: 1px 1px gray;
  color: #F7F756;
}

#api-nav a:visited, #api-panel a:visited {
  text-decoration: none;
  color: #F7F756;
}
#api-nav a:active, #api-panel a:active {
  text-decoration: none;
  color: #F7F756;
}

#api-nav a:hover, #api-panel a:hover {
  text-shadow: 1px 1px #666666;
}



#top .top-center {
  position: relative;
  width: 922px;
  height: auto;
  margin: 0px auto;

}

.clickable:hover {
  cursor: pointer;
}

#index-header {
  position: relative;
  width: 900px;
  height: 130px;
  margin: 0px auto;
}

#header {
  position: relative;
  width: 922px;
  height: 130px;
}

#logo {
  position: absolute;
  width: 244px;
  height: 57px;
  left: 0px;
  top: 45px;
  background-image: url('../images/rglogo.png');
}

#nav-bar {
  position: absolute;
  width: 450px;
  height: 24px;
  left: 285px;
  top: 65px;
}

#nav-bar .button {
  height: 24px;
  position: relative;
  float: left;
}

#login-button {
  float: right;
  margin-top: 65px;
  width: 60px;
  height: 26px;
}

#scroll-panel {
  position: relative;
  width: 100%;
  height: 485px;
}

#panel-bounder {
  position: relative;
  width: 900px;
  height: 420px;
  margin: 0px auto;
  overflow: hidden;
}

.panel {
  position: relative;
  width: 922px;
  height: 420px;
  float: left;
}

#panels {
  position: relative;
  width: 3688px;
  height: 420px;
  margin-left: -10px;
  background-image: url('../images/mainbackground.png');
}

#panels .content {
  position: relative;
  width: 755px;
  height: 330px;
  margin: 45px auto;
}

#panels .content .header {
  position: relative;
  width: 100%;
  height: 38px;
  font-size: 36px;
  color: white;
  text-align: center;
}

#panels .content .left {
  position: relative;
  margin: 50px 0px;
  float: left;
}

#panels .content .right {
  position: relative;
  margin: 50px 0px;
  width: 309px;
  height: 220px;
  float: right;
}

#overview-panel .content .right {
  height: 202px;
}

#panels .content .right {
  height: ;
}

#overview-panel .right p {
  width: 284px;
  height: auto;
  color: white;
  font-size: 17px;
  line-height: 18px;
  text-align: right;
  margin-left: 35px;
}

.blurb {

  font-size: 18px;
}

#panels .content .left {
  margin-top: 34px;
}

#panels .content .right {
  width: 340px;
}

#overview-panel .get-started-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 284px;
  height: 75px;
}

#panels  li span {
  font-size: 14px;
}

#panels .content .get-started-button {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#panels .content .overview-start {
  position: absolute;
  left: 28px;
  bottom: 0px;
}

#analyze-panel li {
  position: relative;
  /*height: 25px;*/
}

#visualize-panel .content .left {
  margin-top: 0px;
}

#delight-panel .content .left {
  margin-top: 50px;
}

#delight-panel .content .right {
  margin-top: 25px;
}
#panels li {
  background-image: url('../images/greenbullet.png');
  background-position: 0 3px;
  padding-left: 14px;
  background-repeat: no-repeat;
}
#panels li .green-bullet {
  width: 6px;
  height: 6px;
  margin-right: 10px;
}

#panels li .coming-soon {
  margin-top: -5px;
  clear: right;
  float: right;
}

#get-started-button img {
  position: relative;
  width: auto;
  height: auto;
}

#panel-footer {
  position: relative;
  width: 900px;
  height: 65px;
  margin: 0px auto;
  overflow: hidden;
}


.panel-selector {
  height: 65px;
  width: 225px;
  float: left;
}

.bottom {
  position: relative;
  width: 100%;
  height: 267px;
  background-image: url("../images/footer-slice.png");
}

.bottom-center .left, .bottom-center .right {
  margin-top: 40px;
}

.bottom-center {
  position: relative;
  width: 900px;
  height: 210px;
  margin: 0px auto;
  background-image: url('../images/lights-slice.png');
  background-repeat: repeat-x;
}

.bottom-center .left {
  position: absolute;
  width: 200px;
  height: 200px;
}

.bottom-center .right {
  position: relative;
  width: 550px;
  height: 200px;
  float: right;
}

#quote-background {
  position: relative;
  float: right;
  width: 549px;
  height: 136px;
  margin: 10px 0px;
  background-image: url("../images/credquitemain.png");
  display: none;
}

#quote-background .text {
  position: relative;
  text-align: right;
  color: white;
  font-size: 15px;
  margin-top: 27px;
  margin-right: 15px;
}

#quote-background .name {
  position: relative;
  text-align: right;
  color: white;
  font-size: 13px;
  margin: 10px 15px;
}


#footer {
  position: relative;
  width: 100%;
  height: 60px;
  font-size: 10px;
  color: white;
  background-image: url("../images/footer-slice.png");
}

#footer .center {
  position: relative;
  width: 922px;
  height: 50px;
  margin: 0px auto;
}

#footer .top {
  width: 100%;
  height: 10px;
  position: absolute;
  background-color: black;
}

#footer .center .left {
  width: auto;
  height: 14px;
  position: absolute;
  left: 10px;
  top: 7px;
}

#footer .left img {
  position: relative;
  margin-left: 7px;
}

#footer .center .right {
  width: auto;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 15px;
}

/*
* About Page
*/

#center-panel {
  position: relative;
  width: 922px;
  height: auto;
  background-color: #2772AA;
  color: white;
}

#center-panel .content {
  position: relative;
  width: 791px;
  height: 250px;
  left: 55px;
  top: 55px;
}

#center-panel .content .header {
  position: relative;
  font-size: 14px;

  width: 485px;
  height: auto;
}

#center-panel .content .right {
  position: relative;
  width: 265px;
  height: 137px;
  float: right;
}

#contact-container {
  position: absolute;
  left: -3px;
  bottom: 100px;
}

#boulder-photo {
  position: relative;
  float: right;
}

#center-panel .content .right p {
  position: absolute;
  width: 188px;
  right: 0px;
  bottom: 0px;
  font-size: 8px;
  text-align: center;
}


#employees {
  position: relative;
  width: 922px;
  height: 260px;
}

#employees .dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  filter: alpha(opacity=50);
}

#employees .top {
  position: relative;
  width: 100%;
  height: 114px;
}

#employees .divider {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
}

#employees .advisers {
  position: relative;
  width: 100%;
  height: auto;
}

#employees .bottom {
  position: relative;
  width: 100%;
  height: 138px;
  background-image: url();
  z-index: 50;
}

#employees .top .header {
  height: 24px;
  position: relative;
  font-size: 20px;
  color: #2BB3DF;
  padding: 12px;
}

#employees .bottom .header {
  height: 24px;
  position: relative;
  font-size: 20px;
  padding: 12px;
  color: #2BB3DF;
}

#employees .info-box {
  position: relative;
  width: 190px;
  height: 75px;
  float: left;
  z-index: 50;
  margin-left: 30px;
}

#employees .wide {
  width: 188px;
}

.info-box .picture {
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}

.info-box .text {
  position: relative;
  width: auto;
  height: 75px;
  float: left;
  font-size: 9px;
}

/*
* Pricing Page
*/

#table-top {
  position: relative;
  width: 791px;
  height: 265px;
  background-image: url('../images/pricingbackground.png');
}

#table-top .figure-container {
  position: absolute;
  width: 383px;
  height: 25px;
  right: 123px;
  top: 60px;
}

#table-top .figure-container tr {
  height: 25px;
}

#table-top .figure-container td {
  font-family: trebuchet;
  text-align: center;
  font-size: 26px;
  width: 100px;
  color: #333333;
}

#table-top .figure-container span {
  color: #333333;;
}

#table-top .figure-container .zeros {
  position: relative;
  font-size: 9px;
  top: -10px;
}

#table-top .figure-container .white {
  color: white;
}

#table-top .figure-container .month {
  position: relative;
  font-size: 9px;
}

#table-panel {
  position: relative;
  height: auto;
}

#center-panel .content .main-table {
  position: absolute;
  width: 640px;
  height: 148px;
  left: 153px;
  top: 105px;
  text-align: center;
}

#center-panel .content .main-table tr {
  height: 33px;
}

#center-panel .content .main-table td {
  width: 100px;
  color: #9AFD03;
}


#center-panel .table-container {
  height: 510px;

}

#table-panel .bullets {
  font-size: 10px;
}

#logo-container {
  position: relative;
  width: 250px;
  height: 28px;
  margin: 10px 0px;;
}

.powered-logo {
  position: relative;
  float: left;
  width: 115px;
  height: 42px;
  margin-right: 10px;
  z-index: 5px;
}

.bottom-cap {
  width: 100%;
  height: 74px;
  position: absolute;
  bottom: 0px;
  background-image: url('../images/bottompagegraphic.png');
}

/*
* Why ReportGrid
*/

#why-panel {
  position: relative;
  left: 30px;
  top: 25px;
  width: 840px;
  height: 560px;
}

#why-panel p {
  font-size: 12px;
  color: white;
}

#why-panel p {
  position: relative;
  width: 780px;
  height: auto;
}

#block-1 {
  position: relative;
  width: 100%;
  height: 100px;
}

#block-2 {
  position: relative;
  width: 100%;
  height: 100px;
}

#block-3 {
  position: relative;
  width: 100%;
  height: 100px;
}

#block-4 {
  position: relative;
  width: 100%;
  height: 100px;
}

.why-bar {
  width: 838px;
  height: 39px;
  position: relative;
  background-image: url('../images/whyquestion.png');
  margin: 5px 0px 5px 0px;
}

#why-panel .yes {
  position: absolute;
}

.why-button {
  position: relative;
  width: 92px;
  height: 35px;
  margin-left: 7px;
}

.why-bar span {
  position: absolute;
  width: auto;
  height: 14px;
  left: 110px;
  top: 11px;
  font-size: 12px;
}

.why-button div {
  position: relative;
  width: 46px;
  height: 35px;
  float: left;
}

.why-button img{
  position: absolute;
  padding: 6px 1px;
  left: 45px;
}

#why-panel .get-started-button {
  position: absolute;
  right: 0px;
  margin-top: -10px;
  z-index: 50;
}

/*
* API
*/

#api-panel {
  position: relative;
  width: 780px;
  padding-top: 40px;
  margin-left: 70px;
  padding-bottom: 100px;
  height: auto;
}

#api-panel h1, #api-panel h2, #api-panel h3, #api-panel h4, #api-panel h5, #api-panel h6 {
  font-weight: bold;
}
#api-panel h1 {
  font-size: 16px;
  margin: 30px 0px 15px 0px;
}
#api-panel h2 {
  font-size: 15px;
  margin: 30px 0px 15px 0px;
}
#api-panel h3 {
  font-size: 14px;
  margin: 30px 0px 15px 0px;
}


#api-panel .medium-text {
  font-size: 14px;
  font-weight: bold;
  margin: 17px 10px;
}

#api-panel .returns {
  font-size: 12px;
  margin: 7px 45px;
}

#api-panel .js-param {
  font-size: 14px;
  margin: 5px 10px;
}

#api-panel .code {
  position: relative;
  width: 100%;
  margin-left: 30px;
  height: auto;
}

#api-panel .curl-block {
  position: relative;
  width: 720px;
  padding: 20px 0px;
}


#api-panel .pre-explanation {
  width: 90px;
}

#api-panel .overview-content-block {
  position: relative;
  width: 630px;
  height: auto;
}

#api-panel .content-block {
  position: relative;
  width: 720px;
  height: auto;
}

#api-panel table {
  position: relative;
  margin: 8px 0px 8px 40px;
}

#api-panel b {
  color: #7DEF00;
}

#api-panel table .js-parameters{
  width: 85px;
}

#api-panel table .example{
  width: 100%;
}

#api-panel tr {
  position: relative;
}

#api-panel td {
  position: relative;
  vertical-align: top;
}

#api-panel table tr .table-head b {
  line-height: 30px;
  text-align: left;
  color: #7DEF00;
}


#api-panel .haze {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 1;
  border-radius: 15px 30px;
  border-color: #F7F756;
  border-width: 1px;
  border-style: solid;
}

#api-panel pre {
  padding: 10px 15px;
  margin: 10px 0px;
  font-size: 12px;
  font-family: monospace;
}

#api-panel p {
  font-size: 13px;
  margin: 8px 0px 8px 15px;
}

#api-panel .note-text {
  font-size: 13px;
  margin: 4px 0px;
}

#api-panel .overview-text {
  width: 630px;
}

#api-panel .minor-bullet {
  font-size: 11px;
  margin: 8px 0px 8px 20px;

}

#api-panel textarea {
  position: relative;
  font-size: 13px;
  margin: 8px 20px;
  color: black;
  width: 680px;
  height: 70px;
}

#api-panel ul {
  margin-left: 20px;
}

#api-panel li {
  margin-left: 20px;
  list-style: circle;
  font-size: 13px;
  line-height: 14px;
}

#api-panel .blurb {
  font-size: 25px;
  margin: 7px 0px;
}


#api-nav {
  position: absolute;
  width: 157px;
  height: 279px;
  right: 18px;
  top: 18px;
  background-image: url('../images/clientlibrariesbox.png');
  font-size: 13px;
  z-index: 5;
}

#api-nav table {
  position: absolute;
  top: 55px;
  left: 20px;
  width: 100px;
  height: auto;
}

#api-nav table tr {
  height: 15px;
}


#api-nav table img {
  top: 5px;
}

#api-send-json {
  width: 300px;
  height: 200px;
}

#api-panel .ajax-interface {
  width: 730px;
  height: auto;
  position: relative;
}

#api-panel .ajax-interface *{
  color: black;
  font-size: 12px;
}

#api-panel .ajax-interface td{
  color: black;
  line-height: 12px;
}

.ajax-header {
  color: white !important;
  margin: 5px 0px;
}

#api-panel .input-descriptor {
  width: 100px;
}

#api-panel .ajax-interface textarea {
  height: 200px;
  width: 593px;
  margin: 0px;
  overflow-y: auto;
}

#api-panel .ajax-interface input {
  position: relative;
  width: 400px;
}

#api-panel .ajax-interface  #api-send-result {
  width: 760px;
  height: 300px;
  overflow: auto;
}

#api-panel .ajax-interface .results {
  width: 737px;
  margin-top: 2px;
  height: 80px;
  color: black;
}

#api-panel .ajax-interface #api-send-submit {
  width: 100px;
  margin: 5px 10px;
  border-style: default;
  border-color: black;
  border-width: 1px;
  height: 16px;
  border-radius: 4px;
  background-color: white;
  border: 1px black;
  font-size: 10px;
  padding-bottom: 2px;
}


/*
* API
*/

#features-panel {
  position: relative;
  width: 786px;
  height: 370px;
  left: 60px;
  top: 55px;
}

#features-left {
  position: absolute;
  width: 393px;
  height: auto;
  left: 0px;
}

#features-right {
  position: absolute;
  width: 380px;
  height: auto;
  right: 0px;
}

#features-panel .feature-box {
  position: relative;
  width: 393px;
  height: 64px;
}

#features-panel .feature-box .icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}

.features-spacer {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #2772AA;
}

#features-panel .feature-box .text-box {
  position: relative;
  width: 325px;
  height: 64px;
  float: left;
  line-height: 10px;
}

#features-panel .feature-box span {
  font-size: 11px;

}

#features-panel .text-box .highlight {
  color: #94DF00;
  font-size: 12px;
}

.features-spacer .get-started-button {
  float: right;
  margin-right: 60px;
}

/*
* Demo
*/

#demo-panel {
  position: relative;
  width: 780px;
  padding-top: 40px;
  margin-left: 70px;
  padding-bottom: 40px;
  height: auto;
}

#demo-panel.demo-panel-wide {
  width: 900px;
  margin-left: 10px;
}

#demo-panel .header {
  font-size: 16px;

  margin 5px 0px;
}

#demo-panel .body {
  font-size: 12px;
  margin: 5px;
}

#demo-panel .header {
  font-size: 28px;
}

#demo-panel .blurb {
  margin: 20px 5px;
}

#demo-panel .vis-text {
  font-size: 13px;
  margin: 10px 20px;
}

#demo-panel .visualization {
  padding: 20px 0px;
}

#demo-panel #vis-1 .vis-footer {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0px;
}

#demo-panel #vis-1 .vis-label {
  position: relative;
  height: 12px;
  width: 400px;
  margin: 0px auto;
  color: black;
  font-size: 12px;
  z-index: 50;
  text-align: center;
}

#demo-panel #vis-1 .map {
  position: absolute;
  height: 280px;
  width: 25px;
  left: 4px;
  top: 0px;
  z-index: 50;
}

#demo-panel #vis-1 .map ul {
  position: absolute;
  top: -50px;
  height: 280px;
  width: 25px;
}

#demo-panel #vis-1 .map ul li {
  position: relative;
  height: 66px;
  width: 25px;
}

#demo-panel #vis-1 .map ul li .met {
  position: absolute;
  bottom: 0px;
  height: 14px;
  width: 25px;
  font-size: 10px;
  color: black;
}

#demo-panel #vis-2 .legend {
  position: relative;
  left: 4px;
  height: 80px;
  width: 100%;
}

#demo-panel #vis-2 .legend ul {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 280px;
  width: 100%;
}
#demo-panel #vis-2 .legend ul li{
  position: relative;
  font-size: 12px;
  color: black;
  margin: 2px 10px;
  float: left;
}

#demo-panel #vis-2 .legend ul li .legend-color {
  position: relative;
  width: 12px;
  height: 12px;
  float: left;
  margin: 2px 7px;
}


#demo-panel #vis-2 .map {
  position: absolute;
  height: 280px;
  width: 25px;
  left: -40px;
  bottom: 40px;
  z-index: 50;
}

#demo-panel #vis-2 .map ul {
  position: absolute;
  top: -50px;
  height: 280px;
  width: 25px;
}

#demo-panel #vis-2 .map ul li {
  position: relative;
  height: 66px;
  width: 25px;
}

#demo-panel #vis-2 .map ul li .met {
  position: absolute;
  bottom: 0px;
  height: 14px;
  width: 25px;
  font-size: 10px;
  color: black;
}

#vis-3 .legend-text {
  font-size: 12px;
}


#vis-3 .arc text {
  font-size: 12px;
  fill: white;
}

#vis-3 .legend-text:hover {
  font-weight: bold;
  cursor: pointer;
}


#pie-container {
  position: relative;
  width: 580px;
  height: 350px;
}

svg {
  margin: 0px auto;
  position: relative;
}

#vis-1 path, #vis-2 path {
  fill: #FFF;
}

line {
  shape-rendering: crispEdges;
  stroke: black;
}

#chart {
  font: 10px sans-serif;
  color: white;
}

.label {
  color: white;
  font-size: 11px;
}

#contact-strip {
  position: relative;
  width: 100%;
  height: 58px;
  margin-top: 10px;
  background-image: url('../images/credsectionnew.png');
}

.visualization {
  height: auto;
  width: 680px;
  position: relative;
  margin: 0px auto;
}

#demo-panel #send-random-data {
  position: relative;
}

#demo-panel #send-random-data:hover{
  cursor: pointer;
}

#demo-panel .content-block {
  margin: 20px 0px 40px 0px;
}

#demo-panel .demo-frame-container{
  background-color: white;
  margin: 40px 0px;
}

#demo-panel .demo-frame-container-transparent {
  background-color: transparent;
}

#pivot-table-dashboard select {
  border-color: #50cdfa;
  border-style: solid;
  border-width: 2px;
  float: right;
  color: black;
}

#pivot-table-dashboard option {
  border-color: #50cdfa;
  border-style: solid;
  border-width: 2px;
  color: black;
}

body #pivot-table-dashboard {
	position: relative;
	margin: 5px;
	height: 179px;
	width: 770px;
	background-color: #222222;
	border-radius :  8px;
	border-color: #666666;
	border-style: solid;
	border-width: 0px;
}


.pivot-table-selectors {
  position: relative;
  width: 734px;
  margin: 2px;
}

#pivot-table-dashboard .selector-block {
  position: relative;
  width: 766px;
  height: 40px;
}

.pivot-table-field {
  position: relative;
  width: 369px;
  margin: 5px 5px;
  height: 36px;
  background-color: #111111;
	border-radius :  8px;
	border-color: #666666;
	border-style: solid;
	border-width: 2px;
	float: left;
}



.pivot-table-property-selectors-parent {
  margin: 15px 5px;
  background-color: #111111;
	border-radius :  8px;
	border-color: #666666;
	border-style: solid;
	border-width: 2px;
	height: 115px;
	width: 752px;
}

.dashboard-field {
	position: relative;
	margin: 7px;
	left: 5px;
	width: 342px;
}

.dashboard-field input {
	position: relative;
	margin: 0px 8px;
	height: 16px;
	border-radius: 6px;
	border-color: #666666;
	border-style: solid;
	border-width: 2px;
	color: black;
}

.dashboard-field #get-properties-button:hover {
   cursor: pointer;
}

#pivot-table-dashboard .horizontal-line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #666666;
}

.pivot-table-label {
	margin: 4px 5px;
	display: block;
	color: black;
	font-size: 12px;
}

.pivot-table-content {
	margin: 4px 5px;
	display: block;
	color: black;
	font-size: 12px;
}

.dashboard-field h2 {
  margin: 5px 3px;
}

#pivot-table-dashboard h2 {
	font-size: 14px;
	color: #white;
	display: inline;
	font-weight: normal;
	position: relative;
	top: 1px;
}

#pivot-table-dashboard h3 {
	font-size: 14px;
	color: #white;
	font-weight: normal;
	position: relative;
	margin: 8px 14px;
}

.properties-selectors {
  position: relative;
  width: 752px;
  margin-top: 10px;
  height: 30px;
}

.properties-selectors h2 {
  font-size: 12px;
}

.property-selector-container {
  position: relative;
  width: 710px;
  margin-left: 15px;
  margin-top: 15px;
}

#pivot-table-placeholder-parent {
  position: relative;
  width:765px;
  overflow: auto;
  text-align: center;
}

#pivot-table-demo {
  position: relative;
  width:    auto;
  height:   auto;
  padding: 8px 8px;
  margin-bottom: 200px;
}

#pivot-table-dashboard table {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: white;
}

.properties-selector-header-container {
  position: relative;
  top: -2px;
  left: -2px;
  height: auto;
  width: 96px;
  border-radius: 6px;
	border-color: #666666;
	border-style: solid;
	border-width: 2px;
}

#pivot-table-dashboard #get-properties-button {
  height: 24px;
  color: white;
  border-color: #666666;
  border-radius: 10px;
  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);
  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
  background: -webkit-gradient(radial, center center, 0, center center, 80, from(#1a82f7), to(#2F2727));
  float: right;
}

.pivot-table-header table td{
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
}

#contact-center {
  position: relative;
  width: 900px;
  height: 58px;
  margin: 0px auto;
}

#contact-strip .phone-number {
  position: relative;
  width: auto;
  height: auto;
  font-size: 30px;
  float: left;
  padding: 8px;
}

#contact-center .phone-number .white {
  color: white;
}

#contact-center .phone-number .green {
  color: #7dbe0f;
}

#contact-center img {
  position: relative;
  padding: 2px;
  float: right;

}

#preloader {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -1000000px;
}

strong, .aqua {
  color: #3BC0EF;
}

.gray0 {
  background-color: #555566;
}

.gray1 {
  background-color: #71718E;
}

.gray2 {
  background-color: #8E8EB5;
}

.gray3 {
  background-color: #AAAADD;
}



.hidden {
  visibility: hidden;
}


