* {
  margin:           0px;
  padding:          0px;
  border:           0px;
  list-style-type:  none;
  text-decoration:  none;
  color: black;
  -webkit-user-select: text;
  -moz-user-select: none;
  user-select: none
}

body {
  background-color: black;
  text-align: center;
}

A:link{color:60B2DC;text-decoration:none}

A:visited{color:60B2DC;text-decoration:none}

P {
  font-size:11px;
  font-family:arial;
}

h1 {
  font-size:16px;
  font-family:arial;
}

#wrapper {
  text-align: left;
  margin-top: 0px;
  width: 1094px;
  background: 999999;
  border: 0px;
}

#wrapper .header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 421px;
  background-image: url("images/header.png");
}

#wrapper .middle {
  position: absolute;
  top: 421px;
  width: 100%;
  height: 403px;
  background-color: #1F2126;
}

#wrapper .footer {
  position: absolute;
  top: 822px;
  width: 100%;
  height: 210px;
  background-image: url("images/footer.png");
}