/* LAYOUT */

body
{
	background-image:url(../images/background.png);
}

ul, li
{
	margin: 0;
	padding: 0;
}

#main, #logos, #pie, #header
{
	border-radius: 10px;
	box-shadow: 0px 0px 10px #c4c4c4;
	-webkit-box-shadow: 0px 0px 10px #c4c4c4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #fff;
} 

#main
{
	margin-top: 0;
	margin: 0 auto;
}

#main, #pie, #header, #logos
{
	border: 1px solid #ccc;
}
	
#header
{
	margin: 14px;
	padding: 8px;
	text-align: center;
	font-size: 29px;
}
	
#logos
{
	margin: 100px 10px 0;
	float: left;
	padding: 15px 0 10px;
}	

#stream, #linez
{
	overflow:hidden;
	margin: 10px;
}

#pie
{
	margin:10px;
	float:right;
}
	
/* END-LAYOUT */

/*slider*/
#spacer
{
	height: 20px;
	width: 940px;
	padding: 10px;
}

#tooltip
{
	text-align: center;
	font-weight: bold;
	background-color: #ffc;
	border: 1px solid #ff9;
	font-family: Verdana;
	font-size: 10px;
	padding: 0 8px;
}


/* FOOTER BRANDING */
#footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: #000;
	opacity: 0.5;
}
	
#left
{
	float: left;
}
	
#right
{
	float:right;
}


li.logo
{
	border: 8px solid black;
	display: block;
	float: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	padding-top: 15px;
}

li.logo:last-child
{
	margin: 0 0 0 0;
}

li.logo.text
{
	text-align: center;
	height: 24px;
	font-weight: bold;
}

#logos
{
	padding-left: 16px;
}