.pagination span, .pagination a
{
	padding-top: 8px;
	padding-bottom: 0px;
	margin-right: 4px;
	background-color: #292930;
	min-width: 34px;
	min-height: 24px;
	display: block;
	float: left;
	text-align: center;
	font-size: 10pt;
}

#tokenslist
{
	clear: left;
}

#tokenslist > li
{
	margin-bottom: 20px;
	font-family: abel;
	font-size: 10pt;
	font-color: #8A8FA8;
}

#tokeninfo .expiration, #tokeninfo .limits, #tokeninfo .permissions{
	font-size: 10pt;
}

#tokeninfo .limits ul,#tokeninfo .permissions ul, #tokenslist .limits ul, #tokenslist .permissions ul
{
	display: block;
	float: right;
}

#tokeninfo .limits ul li, #tokeninfo .permissions ul li, #tokenslist .limits ul li, #tokenslist .permissions ul li
{
	display: block;
	float: left;
	font-family: abel;
	font-size: 10pt;
	font-color: #8A8FA8;
	padding-right: 10px;
}

.value {
	font-family: questrial;
	font-size: 10pt;
	color: #61B1DC;
}

#tokenslist .permissions ul li, #tokeninfo .permissions ul li {
	top: -17px;
}

#tokeninfo {
	padding-bottom: 10px;
}

#tokenslist .permissions
{
	clear: left;
}

#changepassword p, #changeemail p {
  padding-top: 6px;
  padding-bottom: 3px;
}

a.delete, #removebillinginfo {
  background-image: url(../images/controlpaneldeleteicon.png);
  background-repeat: no-repeat;
  padding-left: 14px;
  font-family: questrial;
  font-size: 8pt;
  color: #FF5125;
}
.token {
  background-color: #000;
  padding-top: 6px;
  padding-bottom: 6px;
}
.info {
  padding-bottom: 10px;
}
a.next {
  margin-bottom: 8px;
}
#submitplan, #submitemail, #submitpassword, #submitcreditcard, #submitaccount {
  background-image: url(../images/changebuttonsm.png);
  width: 133px;
  height: 28px;
  margin-top: 20px;
  background-color: #000;
}
#submitplan:hover, #submitemail:hover, #submitpassword:hover, #submitcreditcard:hover, #submitaccount:hover {
  opacity: 0.7;
}
#tokenbutton {
  position: absolute;
  top: 48px;
  float: right;
  right: 20px;
}
#tokenpopupbutton {
  background-image: url(../images/createsubtokenbutton.png);
  background-color: transparent;
  position: absolute;
  top: 554px;
  height: 18px;
  width: 158px;
  right: 60px;
  cursor: pointer;
}
#tokenform .tokengroup input {
  width: 200px;
  height: 20px;
  margin-top: -8px;
  margin-bottom: 2px;
  color: #000000;
  padding-left: 6px;
}
#tokenoverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  z-index: 95;
  display: none;
}
#tokenmenu {
  position: fixed;
  background-color: #2D2727;
  z-index: 100;
  width: 306px;
  padding-bottom: 80px;
  left: 50%;
  top: 50%;
  margin-left: -153px;
  margin-top: -400px;
  display: none;
}

#tokeninner {
  top:34px;
  left:48px;
}
#parenttoken {
  background-image: url(../images/controlpanelparenticon.png);
  background-repeat: no-repeat;
  padding-left: 14px;
  font-family: questrial;
  color: #61B1DC;
}
.option {
  color: #666;
}

#currentpath a ,.path .value {
  padding: 4px;
  margin-right: 4px;
  font-family: questrial;
  font-size: 10pt;
  color: #61B1DC;
}

#createtokenpanel a {
  background-image: url(../images/controlpanelnewicon.png);
  background-repeat: no-repeat;
  padding-left: 16px;
  margin-top: 4px;
  padding-bottom: 4px;
  font-family: questrial;
  font-size: 10pt;
  color: #ffcc33;
}
