/* _____________________  BASE COLORS  _____________________ */

/*@import url('colors/rg-colors-default.css');*/
/* _____________________  SVG  _____________________ */



.rg 
{
	fill: none;
	stroke: none;
}

.rg line, .rg path
{
	stroke-width: 1;
	stroke: #CCC;
}

.rg text, .rg tspan
{
	font-family: Arial, Helvetica, sans-serif;
	color:#999;
	font-size:11px;
	line-height:14px;
	fill:#999;
	stroke-width: 0;
	text-rendering: optimizelegibility;
}

.rg .title .label text
{
	font-weight: bold;
	font-size: 18px;
}

/* ______________ Stream Graph ____________________ */

.rg .stream-chart path
{
    stroke-width:0;
}

.rg .stream-chart path:hover
{
    fill-opacity:0.75;
}

.rg .stream-chart g.group
{
	stroke-width: 1;
	stroke-miterjoin:miter;
	stroke-miterlimit:1;
}
/* _____________________  CHART DESIGN  _____________________ */
.rg
{
	fill: none;
	stroke: none;
	
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.rg g.group
{
	stroke-width: 5;
}

/* ___________________ Pie Chart ________________*/

.rg .pie-chart g.group
{
	stroke-width: 3;
	stroke-miterjoin:miter;
	stroke-miterlimit:1;
}

.rg .pie-chart g.group path
{
	stroke: #333;
	stroke-opacity: 0.4;
}
.rg .pie-chart g.group:hover 
{
	fill-opacity:.75;
    stroke-width:2;
}

/* _____________________ Line Chart _______________*/

.rg .line-chart g.group path.gradient
{
	fill:none;
	stroke-width: 2;
}

.rg .line-chart g.group path.area
{
	stroke: none;
	fill-opacity: 0.2;
}

/* ________Symbol Effects _________*/

.rg .line-chart g.group .symbols path
{
	fill: #fff;
	stroke: inherit;
}



/*!!----------------------EFFECT STYLES--------------------!!

_______________ No Effect ____________*/

.rg .line-chart g.group path.noeffect
{
	fill:none;
	stroke-width: 2;
}

/* _______________ Drop Shadow ____________*/

.rg .line-chart g.group path.dropshadow
{
	fill:none;
	stroke-width: 2;
}

.rg .line-chart g.group path.shadow
{
	fill:none;
	stroke-width: 3;
	stroke-opacity: 0.4;
	stroke: #000;
}

/* _______________ Gradiant ____________*/

.rg .line-chart g.group path.grad-0
{
	fill:none;
	stroke-width: 1;
    stroke-opacity:1.0;
}

.rg .line-chart g.group path.grad-1
{
	fill:none;
	stroke-width: 2;
	stroke-opacity: 0.75;
}

/*   !!-------------  Hover State's -----------------!!   */

/*.rg .line-chart path.line:hover line
{
	stroke-width: 4;
}

.rg .group, .rg .group path:hover
{
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;

}


.rg line-chart .group.path:hover path
{
    opacity: 1;
    stroke-width: 3;
}
*/
.rg .line-chart g.group:hover path.grad-1   
{
    opacity: .75;
    stroke-width: 4;
    
}

.rg .line-chart g.group path.grad-0 
{
    opacity:0;
    stroke-width: 20;
    
}

/*  !! ---------------------------  Tool Tip ------------------------!!   */

#tooltip
{
	text-align: center;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
	color:#4d4d4d;
	font-size:10px;
	line-height:14px;
	fill:#4d4d4d;
	padding: 4px 8px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
}


/*   !!------------- Horizontal/Vertical Lines Etc ----------------!!   */ 

.rg g.linechart-highlighter line, line.rule
{
	stroke-width: 1;
	shape-rendering: crispEdges;
	stroke-dasharray: 1, 1; 
	stroke: #CCC;
}

.rg g.linechart-highlighter rect
{
	fill: #fff;
	stroke: #CCC;
	stroke-width: 1px;
}

.rg line.rule
{
	stroke: #CCC;
}

.rg g.tick line
{
	stroke-width: 1;
	stroke: #CCC;
}

.rg g.tick line.major
{
	stroke-width: 2;
	stroke: #999;
}

.rg g.rule line
{
	stroke-width: 1;
	stroke: #F1F1F1;
	stroke-dasharray: 1,2;
	shape-rendering: crispEdges;
    stroke-opacity: 1;
}

.rg g.rule line.major
{
	stroke-width: 1;
	stroke: #E3E3E3;
	stroke-dasharray: 2,2;
	shape-rendering: crispEdges;
    stroke-opacity:1;
}

.rg rect.panel-frame
{
	fill: #fff;
	fill-opacity: 0;
}

/*   !!-----------------  Scales  ---------------------!!   */

.rg .dimension-0 text
{
	font-weight: bold;
}

.rg .line-chart.dimension-1 path.line
{
	stroke: #666 !important;
}

.rg .dimension-1 text
{
	fill: #666;
	stroke-width: 0 !important;
	font-weight: bold;
}

/* ____________________ Leader Board  ________________*/

.rg ul.leaderboard
{
        stroke:#666;
    stroke-width:10px;
    
    boarder:1px solid #000;
	list-style-type:square;
	margin:0px 5px 5px 5px;
    padding:5px 5px 5px 20px;
    background-color:#fff;
    boarder:1px solid #ccc;
    
    box-shadow: 2px 2px 2px rgba(200,200,200,0.15),
	inset 0px 0px 0px rgba(255,255,255,0.25);
	-o-box-shadow: 2px 2px 2px rgba(0,0,0,0.15),
	inset 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.15),
	inset 0px 0px 0px rgba(255,255,255,0.25);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.15),
	inset 0px 0px 0px rgba(255,255,255,0.25);    
}

.rg ul.leaderboard li
{
	font-family:Veranda, Arial, Helvetica, sans-serif;
	font-size: 8pt;
    stroke:#666;
    stroke-width:10px;
    background-color:#FFF;

}

.rg .leaderboard li.nogradient
{
	background-image: none;
}

.rg li
{	
	background-color:inherit;
}

.rg div.clear
{
	clear: left;
}

/* _____________ PIVOT TABLE _____________________ */
.rg table.pivot-table
{
	clear:left;
	border-spacing:0;
	font-family:Veranda, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.rg .pivot-table td
{
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #CECECE;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #CECECE;
	padding: 1px 6px 1px 3px;
	text-align: right;

	font-size: 11px;
	text-shadow: 1px 1px 1px #FFF;
	-moz-text-shadow: 0.5px 0.25px 1px #FFF;
	min-width: 40px;
	background-color: #FFF;
}

.rg .pivot-table th
{
	border-left: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
	background-color: #e4e4e4;
	padding: 0 2px 0 3px;
	text-shadow: 1px 1px 0 #FFFFFF;
	-moz-text-shadow: 1px 1px 0 #FFFFFF;
	-webkit-text-shadow: 1px 1px 0 #FFFFFF;
	font-weight: normal;
	color: #000000;
}

.rg .pivot-table tfoot th.column.total, .rg .pivot-table tbody th.row.total, .rg .pivot-table tfoot th.table.total
{
	font-weight: bold;
	font-size: 10px;
	text-align: right;
	padding-right: 4px;
}

.rg .pivot-table thead th.col-header, .rg .pivot-table thead th.row-header
{
	font-weight: bold;
	padding: 0px 6px;
	font-size: 10px;
	background-color: #eee;
	color: #444;
}

.rg .pivot-table th.column.value, .rg .pivot-table th.row.value
{
	font-weight: bold;
	padding: 2px 6px;
	font-size: 10px;
}

.rg .pivot-table thead th
{
	text-align: center;
}

.rg .pivot-table tbody th
{
	white-space: nowrap;
	text-align: left;
}

.rg .pivot-table td:hover
{
	border: 1px solid #0026FF !important;
}

.rg.pivot-table .spacer
{
	background: none;
	border: 0;
}

.rg .anchor-line
{
	shape-rendering: crispEdges;
	stroke: #666;
	stroke-width: 1;
}

/* ________ Bar Chart __________________*/

.rg .bar-chart rect.bar
{
	shape-rendering: crispEdges;
	stroke-width: 0;
}

.rg .bar-chart rect.bar:hover
{
	width: 1*1.2;
}


.rg .border
{
	stroke: #666;
	shape-rendering: crispEdges;
}

/* ____________ Fonts / Lables / Text ____________*/ 

.rg .label text
{
	font-family: Arial, Helvatica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	fill: #FFF;
	stroke: none;
}


.rg .label text.outline
{
	fill: none;
	stroke: #FFF;
	stroke-width: 1px;
	stroke-opacity: .5;
}

.rg .label text.shadow
{
	fill: #333;
	stroke-width: 1px;
	stroke: #333;
	opacity: .1;
}

.rg .label text.nooutline
{
	fill: #666;
	font-weight: normal
}

.rg text.shadow.nooutline
{
	stroke-width: 1px;
}

.rg text.outline.noshadow
{
	stroke-width: 1px;
	stroke: #666;
}

.rg .tick .label text
{
	font-size: 10px;
}

.rg .label text.outline
{
	stroke-width: 1px;
	stroke-opacity: .2;
}

/* _____________________  SCATTER GRAPH  _____________________ */

.rg .scatter-graph text
{
	font-size: 10pt;
}

.rg .scatter-graph g.symbol path
{
	stroke: none;
}

/* _____________________  PIE CHART  _____________________ */

.rg .pie-chart path
{
	stroke-width: 0;
}

/* _____________________  Funnel Chart  _____________________ */

.rg .funnel-chart .funnel-outside
{
	stroke: none;
}

.rg .funnel-chart .arrow path
{
	stroke-width: .5px;
	stroke: #DDD;
	fill: #FFF;
}

.rg .funnel-chart .arrow text
{
    fill: #666;
	font-size: 10px;
	font-weight: bold;
}

/* ______________Balloons / Drill Downs ______________*/

.rg path.balloon-connector
{
	stroke: #FFF;
	stroke-width: 1;
	stroke-dasharray: 1, 1;
}

.rg .balloon .label text.nooutline, .rg .balloon .label text.shadow.nooutline
{
	font-size: 10px;
	font-weight: bold;
}

.rg .balloon path.bg
{
	fill : #FFF;
	stroke : #ddd;
	fill-opacity : 1;
	stroke-width : 1;
}

.rg .balloon path.shadow
{
	opacity : 0.4;
	fill : #666;
	stroke : #666;
	stroke-width : 1;
}

/* ___________________ Heat Grid ________________*/

.rg .heat-grid rect
{
	shape-rendering: crispEdges;
	stroke-width: 0;
}
