/* LAYOUT */

#main
{
	width: 1880px;
	height: 1020px;
}
	
#header
{
	width: 1838px;
}
	
#logos
{
	width: 1835px;
}

#stream, #linez
{
	width:1240px;
	height:604px;
}

#pie
{
	width:600px;
	height:600px;
}
	
/* END-LAYOUT */

/* FOOTER BRANDING */

li.logo
{
	width: 76px;
	height: 60px;
	margin: 0 32px 0 0;
}

li.logo.text
{
	width: 155px;
	padding: 10px 4px 4px 4px;
	margin: 0 4px 0 0;
}