/* SVG */
.rg 
{
	fill: none;
	stroke: none;
}

.rg line, .rg path
{
	stroke-width: 1;
}

.rg text
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:11px;
	line-height:14px;
	fill:#666;
	stroke: 0;
}

.rg .stream-chart path
{
	stroke: none;
	fill: #ccc;
}


/* STYLE TO KEEP */

body, *
{
font-family:Tahoma,Arial,Helvetica,sans-serif;
font-size: 10pt;
}

.group, .group path:hover
{
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.group path
{
	opacity: 0.6;
}

.group:hover path
{
	opacity: 1.0;
}

.property-controls, .pivot-table
{
	clear: left;
	padding: 16px;
}

.property-panel, .time-controls
{
border-top: 1px solid #e0e0e0;
border-left: 1px solid #e0e0e0;
border-bottom: 1px solid #aaa;
border-right: 1px solid #aaa;
padding: 4px;
margin: 0 4px 4px 0;
float: left;
background-color: #f0f0f0;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.time-controls
{
	clear: left;
	margin-left: 16px;
}

.property-panel > div
{
float: left;
margin: 0 4px 0 0;
}

.property-panel .limit
{
width: 3em;
text-align: center;
}

.time-controls input
{
width: 11em;
text-align: center;
}

.property-panel input, .property-panel select, .time-controls input
{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: 1px solid #ccc;
}

.pivot-table table
{
clear:left;
border-spacing:0;
}

.pivot-table td
{
border-left: 1px solid #ffffff;
border-right: 1px solid #CECECE;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #CECECE;
padding: 1px 6px 1px 3px;
text-align: right;

font-size: 85%;
text-shadow: 1px 1px 1px #aaa;
-moz-text-shadow: 0.5px 0.25px 1px #aaa;
min-width: 40px;
background-color: #fff;
}

.pivot-table th
{
border-left: 1px solid #e4e4e4;
border-top: 1px solid #e4e4e4;
border-right: 1px solid #969696;
border-bottom: 1px solid #969696;
background-color: #e4e4e4;
padding: 0 2px 0 3px;
text-shadow: 1px 1px 0 #FFFFFF;
-moz-text-shadow: 1px 1px 0 #FFFFFF;
-webkit-text-shadow: 1px 1px 0 #FFFFFF;
font-weight: normal;
}

.pivot-table th.total
{
font-weight: bold;
font-size: 85%;
}

.pivot-table tbody th.total
{
text-align: left;
padding-right: 4px;
}

.pivot-table th.columns-header
{
font-weight: bold;
padding: 2px 6px;
font-size: 85%;
}

.pivot-table thead th
{
text-align: center;
}

.pivot-table tbody th
{
white-space: nowrap;
text-align: left;
}

.pivot-table td:hover
{
border: 1px solid #0026FF !important;
}




/* CHART DESIGN */


.rg
{
	fill: none;
	stroke: none;
	
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.rg g.group
{
	stroke-width: 5;
	stroke-miterjoin: miter;
	stroke-miterlimit: 1;
}

.rg g.group-0 path, ul li.logo-0
{
	border-color: #1f77b4;
	stroke: #1f77b4;
	fill: #1f77b4;
}

.rg g.group-1 path, ul li.logo-1
{
	border-color: #aec7e8;
	stroke: #aec7e8;
	fill: #aec7e8;
}


.rg g.group-2 path, ul li.logo-2
{
	border-color: #ff7f0e;
	stroke: #ff7f0e;
	fill: #ff7f0e;
}

.rg  g.group-3 path, ul li.logo-3
{
	border-color: #ffbb78;
	stroke: #ffbb78;
	fill: #ffbb78;
}

.rg g.group-4 path, ul li.logo-4
{
	border-color: #2ca02c;
	stroke: #2ca02c;
	fill: #2ca02c;
}
	
.rg g.group-5 path, ul li.logo-5
{
	border-color: #98df8a;
	stroke: #98df8a;
	fill: #98df8a;
}
	
.rg g.group-6 path, ul li.logo-6
{
	border-color: #d62728;
	stroke: #d62728;
	fill: #d62728;
}
	
.rg g.group-7 path, ul li.logo-7
{
	border-color: #ff9896;
	stroke: #ff9896;
	fill: #ff9896;
}
	
.rg g.group-8 path, ul li.logo-8
{
	border-color: #9467bd;
	stroke: #9467bd;
	fill: #9467bd;
}
	
.rg g.group-9 path, ul li.logo-9
{
	border-color: #c5b0d5;
	stroke: #c5b0d5;
	fill: #c5b0d5;
}
	
.rg g.group-10 path, ul li.logo-10
{
	border-color: #8c564b;
	stroke: #8c564b;
	fill: #8c564b;
}
	
.rg g.group-11 path, ul li.logo-11
{
	border-color: #c49c94;
	stroke: #c49c94;
	fill: #c49c94;
}
	
.rg g.group-12 path, ul li.logo-12
{
	border-color: #e377c2;
	stroke: #e377c2;
	fill: #e377c2;
}
	
.rg g.group-13 path, ul li.logo-13
{
	border-color: #f7b6d2;
	stroke: #f7b6d2;
	fill: #f7b6d2;
}
	
.rg g.group-14 path, ul li.logo-14
{
	border-color: #7f7f7f;
	stroke: #7f7f7f;
	fill: #7f7f7f;
}
	
.rg g.group-15 path, ul li.logo-15
{
	border-color: #c7c7c7;
	stroke: #c7c7c7;
	fill: #c7c7c7;
}

.rg line, .rg path
{
	stroke: #999;
}

.rg .pie-chart g.group, .rg .stream-chart g.group
{
	stroke-width: 3;
	stroke-miterjoin:miter;
	stroke-miterlimit:1;
}

.rg .pie-chart g.group path, .rg .stream-chart g.group path
{
	stroke:none;
}

.rg .line-chart g.group path
{
	fill:none;
}

#tooltip
{
	text-align: center;
	font-weight: bold;
	background-color: #ffc;
	border: 1px solid #cc6;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	font-size:11px;
	line-height:14px;
	fill:#333;
	padding: 3px 8px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
}

.rg g.linechart-highlighter line, line.rule
{
	stroke-width: 1;
	shape-rendering: crispEdges;
	stroke-dasharray: 1, 1; 
	stroke: #000;
}

.rg g.linechart-highlighter rect
{
	fill: #fff;
	stroke: #999;
	stroke-width: 1px;
}

.rg line.rule
{
	stroke: #999;
}

.rg line.tick
{
	stroke-width: 1;
	shape-rendering: crispEdges;
	stroke: #666;
}

.rg rect.panel-frame
{
	fill: #fff;
	fill-opacity: 0;
}

.rg .line-chart path.line
{
	stroke-width: 3;
}

.rg .line-chart path.line:hover
{
	stroke-width: 4.5;
}

/*
.rg .line-chart.dimension-0 path.line
{
	stroke: #1f77b4 !important;
}

.rg .dimension-0 text
{
	fill: #1f77b4;
	stroke-width: 0 !important;
	font-weight: bold;
}
*/

.rg .line-chart.dimension-1 path.line
{
	stroke: #d62728 !important;
}

.rg .dimension-1 text
{
	fill: #d62728;
	stroke-width: 0 !important;
	font-weight: bold;
}

#control-panel > div
{
	border: 1px solid #ccc;
	margin: 4px 4px 0 0;
	padding: 4px 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: left;
}

label
{
	font-weight: bold;
	font-size: 11px;
	float: left;
	min-width: 50px;
	padding-top: 4px;
}

#rootpath a, #rootpath span.current
{
	border: 1px solid #ccc;
	margin: 1px 2px 0 0;
	padding: 2px 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: left;
}

#rootpath span.current
{
	background-color: #ffc;
}