* {
    border: 0;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    color: #FFF;
    font-family: arial;
    outline: none;
    margin: 0;
    padding: 0;
}

body { background-color: #0E0F12;
    text-align: center;
}
@font-face {
    font-family: 'Abel';
    src: url('fonts/abel-regular-webfont.eot');
    src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/abel-regular-webfont.woff') format('woff'), url('fonts/abel-regular-webfont.ttf') format('truetype'), url('fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Questrial';
    src: url('fonts/questrial-regular-webfont.eot');
    src: url('fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/questrial-regular-webfont.woff') format('woff'), url('fonts/questrial-regular-webfont.ttf') format('truetype'), url('fonts/questrial-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Antic';
    src: url('fonts/antic-regular-webfont.eot');
    src: url('fonts/antic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/antic-regular-webfont.woff') format('woff'), url('fonts/antic-regular-webfont.ttf') format('truetype'), url('fonts/antic-regular-webfont.svg#AnticRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rexlia';
    src: url('fonts/rexlia_free-webfont.eot');
    src: url('fonts/rexlia_free-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/rexlia_free-webfont.woff') format('woff'), url('fonts/rexlia_free-webfont.ttf') format('truetype'), url('fonts/rexlia_free-webfont.svg#RexliaFree') format('svg');
    font-weight: normal;
    font-style: normal;
}
P {
    font-size: 16px;
    font-family: Abel;
    color: #fff;
    line-height: normal;
}

h1 {
    font-size: 20pt;
    font-family: Abel;
    color: #fff;
    line-height: normal;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
}


#wrapperheader {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    height: 222px;
    background-color: #191A1F;
    text-align: left;
}

#wrapperheader .header {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1090px;    
    height: 222px;
    background-image: url("../imagesquerio/header.png");
}

#headerlogo {
    top: 106px;
    left: 103.5px;
}

#headertextbox {
    width: 460px;
    height: 160px;
    Margin-left: 545px;
}

#wrapperheader .header h1{
    font-size: 20pt;
    font-family: Abel;
    color: #7AC943;
    line-height: normal;
}

#wrapperheader .header p{
    font-size: 18px;
    font-family: Abel;
    color: #fff;
    line-height: normal;
}

#wrapper {
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: left;
}

#wrapper .body {
    position: relative;
    width: 1090px;
    height: 1510px;
    background-color: #0B151A;
    overflow: hidden;
}

#wrapper .body2 {
    position: relative;
    width: 1090px;
    height: 370px;
    background-color: #0B151A;
    overflow: hidden;
}

#appslider {
    width: 10000px;
    height: 760px;
}

#leftarrow {
    position: absolute;
    top: 300px;
}

#leftarrow:hover {
    cursor: pointer;
}

#rightarrow {
    position: absolute;
    float: right;
    right: 0px;
    top: 300px;
}

#rightarrow:hover {
    cursor: pointer;
}

.bodyappbox {
    width: 1090px;
    float:left;
}

.bodyheader {
    width: 1090px;
}

.bodyheader p {
    font-size: 20pt;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 6px;
}
.appwrapper {
    width: 1090px;
}

.yourapp1 {
    background-image: url("../imagesquerio/CRM.png");
    background-repeat: no-repeat;
    left: 250px;
    width: 600px;
    height: 308px;
}

.yourapp2 {
    background-image: url("../imagesquerio/CRMNew.png");
    background-repeat: no-repeat;
    left: 279px;
    width: 600px;
    height: 308px;
}

.yourapp3 {
    background-image: url("../imagesquerio/Reports.png");
    background-repeat: no-repeat;
    left: 254px;
    width: 600px;
    height: 308px;
}

.yourapp4 {
    background-image: url("../imagesquerio/ReportsNew.png");
    background-repeat: no-repeat;
    left: 279px;
    width: 600px;
    height: 308px;
}

.yourapp5 {
    background-image: url("../imagesquerio/App.png");
    background-repeat: no-repeat;
    left: 254px;
    width: 600px;
    height: 308px;
}

.yourapp6 {
    background-image: url("../imagesquerio/AppNew.png");
    background-repeat: no-repeat;
    left: 279px;
    width: 600px;
    height: 308px;
}

.apptextleft {
    width: 170px;
    float: left;
    left: 76px;
    text-align: right;
}

.apptextleft p{
    font-family: abel;
    font-size: 18pt;
    color: #3FA9F5;
    font-weight: 300;
}

.apptextright {
    width: 170px;
    float: right;
    right: 64px;
}

.apptextright p{
    font-family: abel;
    font-size: 18pt;
    color: #3FA9F5;
    font-weight: 300;
}

.bodyheader2 {
    background-color: #172A33;
    width: 1090px;
    height: 117px;
    margin-top: 40px;
}

.bodyheader2 p{
    font-size: 20pt;
    padding-left: 103.5px;
    padding-top: 40px;
}

#bodydiagram {
    background-image: url("../imagesquerio/bodydiagram.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1090px;
    height: 448px;
    margin-top: 60px;
    margin-bottom: 20px;
}

#diagramarrows {
    background-image: url("../imagesquerio/diagramarrows.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    top: 1102px;
    left: -27px;
    width: 1200px;
    height: 248px;
}

.bodytext1 {
    background-image: url("../imagesquerio/bodyleftbox.png");
    position: absolute;
    z-index: 1;
    top: 950px;
    left: -175px;
    width: 300px;
    height: 152px;
}

.bodytext1 p{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 60px;
}

.bodytext2 {
    background-image: url("../imagesquerio/bodyrightbox.png");
    position: absolute;
    z-index: 1;
    top: 950px;
    right: -175px;
    width: 300px;
    height: 152px;
}

.bodytext2 p{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 60px;
}

.bodytext3 {
    top: 352px;
    left: 364px;
    width: 342px;
    height: 70px;
}

#learnmore {
    height: 34px;
    width: 116px;
    left: 103.5px;
    float:left;
}

#learnmore:hover {
    cursor: pointer;
}

#learnmoretext {
    width: 300px;
    left: 203.5px;
    top: 74px;
    float:left;
}

#learnmoretext p{
    font-size: 12pt;
}

#phonenumber {
    float: right;
    right: 130px;
}

#phonenumber p{
    font-size: 20pt;
}

.emailus {
    float: right;
    right: 103.5;
    top: 4px;
}

.footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #13232B;
}

.blue {
    color: #3FA9F5;
}

.orange {
    color: #FF931E;
}

.black {
    color: #000000;
}
.rgform {
    float:left;
    left: 300px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.indicates-required {
  left: 200px;
  font-family: abel;
  font-size: 11px;
}
#mergeTable {
  top: 10px;
  width: 600px;
  font-family: abel;
  font-size: 11px;
  color: #000000;
}
.field-group input {
  border: 0 none;
  display: block;
  padding: 4px;
  width: 40%;
}
.field-group {
  margin: 3px 0 10px;
}

#submit {
  background-image: url(../imagesquerio/signupbuttonsm.png);
  float:left;
  top: 10px;
  left: 150px;
  height: 26px;
  width: 90px;
}

#submit:hover {
    cursor: pointer;
}