* {
    border: 0;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    outline: none;
    margin: 0;
    padding: 0;
}

body { background-color: #0E0F12;
    text-align: center;
}

@font-face {
    font-family: 'Abel';
    src: url('fonts/abel-regular-webfont.eot');
    src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/abel-regular-webfont.woff') format('woff'), url('fonts/abel-regular-webfont.ttf') format('truetype'), url('fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Questrial';
    src: url('fonts/questrial-regular-webfont.eot');
    src: url('fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/questrial-regular-webfont.woff') format('woff'), url('fonts/questrial-regular-webfont.ttf') format('truetype'), url('fonts/questrial-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Antic';
    src: url('fonts/antic-regular-webfont.eot');
    src: url('fonts/antic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/antic-regular-webfont.woff') format('woff'), url('fonts/antic-regular-webfont.ttf') format('truetype'), url('fonts/antic-regular-webfont.svg#AnticRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rexlia';
    src: url('fonts/rexlia_free-webfont.eot');
    src: url('fonts/rexlia_free-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/rexlia_free-webfont.woff') format('woff'), url('fonts/rexlia_free-webfont.ttf') format('truetype'), url('fonts/rexlia_free-webfont.svg#RexliaFree') format('svg');
    font-weight: normal;
    font-style: normal;
}
P {
    font-size: 16px;
    font-family: Abel;
    color: #9AB4CC;
    line-height: normal;
}

h1 {
    font-size: 20pt;
    font-family: 'Abel';
    color: #fff;
    line-height: normal;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
}

#support a{
    background-image: url("../images/button-support-side.png");
    background-position: right;
    width: 28px;
    height: 98px;
    z-index: 1;
    top: 200px;
    left: 0px;
    position: fixed;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

#support a:hover{
    width: 57px;
}

#contact-us a{
    background-image: url("../images/button-contactus-side.png");
    background-position: right;
    width: 28px;
    height: 98px;
    z-index: 1;
    top: 310px;
    left: 0px;
    position: fixed;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

#contact-us a:hover{
    width: 57px;
}

#background-top {
    background-image: url("../images/background-header-home.png");
    width: 100%;
    height: 606px;
}

#header {
    width: 1050px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height: 0px;
}

#header-logo {
    left: 0px;
    top: 68px;
}

#header-menu {
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
    width: 400px;
}

#header-menu li a{
    padding-top: 66px;
    float: right;
    margin-left: 24px;
    font-family: 'Questrial';
    font-size: 12pt;
    color: #999999;
}

#header-menu li a:hover{
    padding-top: 62px;
    color: #fff;
    border-top: solid;
    border-width: 4px;
    border-color: #ff0000;
    text-shadow: 0 0 0.2em #60B2DC, 0 0 0.2em #60B2DC;
}

#header-menu li a:active{
    padding-top: 63px;
    color: #F2F2F2;
    border-top: solid;
    border-width: 4px;
    border-color: #ff0000;
    text-shadow: 0 0 1.0em #60B2DC, 0 0 1.0em #60B2DC;
}

#header-apps {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 164px;
}

#background-apps {
    width: 542px;
    height: 350px;
    background-color: #000;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #000;
    float: left;
    overflow: hidden;
}

#background-apps .app {
    width: 542px;
    height: 307px;
    float: left;
}

#background-apps .app-container {
    width: 2168px;
    height: 307px;
}

#background-apps .box, #background-apps .box-alt {
    position: absolute;
    width: 542px;
    height: 307px;
}

#background-apps .box-alt {
    opacity: 0;
}

#yourapp .box {
    background-image: url("../images/graphic-yourapp.png");
}

#yourapp .box-alt {
    background-image: url("../images/graphic-yourapp-alt.png");
}

#yourcrm .box {
    background-image: url("../images/graphic-yourcrm.png");
}

#yourcrm .box-alt {
    background-image: url("../images/graphic-yourcrm-alt.png");
}

#yourhelpdesk .box {
    background-image: url("../images/graphic-yourhelpdesk.png");
}

#yourhelpdesk .box-alt {
    background-image: url("../images/graphic-yourhelpdesk-alt.png");
}

#yourecom .box {
    background-image: url("../images/graphic-yourecom.png");
}

#yourecom .box-alt {
    background-image: url("../images/graphic-yourecom-alt.png");
}

#button-yourapp {
    clear: left;
}

#button-yourapp, #button-yourapponquerio {
    float: left;
    width: 271px;
    height: 45px;
}

#button-yourapp a, #button-yourapponquerio a {
    display: block;
    width: 271px;
    height: 45px;
}

#button-yourapp.active a {
    background-image: url("../images/button-yourapp.png");
}

#button-yourapponquerio.active a {
    background-image: url("../images/button-yourapponprecog.png");
}

#button-yourapp a {
    background-image: url("../images/button-yourapp-alt.png");
}

#button-yourapponquerio a {
    background-image: url("../images/button-yourapponprecog-alt.png");
}

#app-textbox {
    margin-left: 74px;
    width: 318px;
    float: left;
}

#app-textbox h1{
    font-size: 28pt;
    color: #C13707;
    padding-top: 0px;
}

#app-textbox p{
    font-family: 'Helvetica';
    font-size: 15pt;
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 100%;
    font-weight: lighter;
}

#button-getstarted-m a{
    background-image: url("../images/button-getstarted-m.png");
    display: block;
    width: 251px;
    height: 74px;
    top: 40px;
    float: right;
}

#button-getstarted-m a:hover{
    background-image: url("../images/button-getstarted-m-alt.png");
}

#apps-bulletselector {
    width: 542px;
    left: 210px;
}

#apps-bulletselector ul{
}

#apps-bulletselector ul li a {
    background-image: url("../images/button-app-dot.png");
    height: 12px;
    width: 11px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

#apps-bulletselector ul li a.active {
    background-image: url("../images/button-app-dot-alt.png");
}

.sticker-repl-main {
    position: absolute;
    right: 0px;
}

/*howitworks*/
#background-main1 {
    background-image: url("../images/background-main1-home.png");
    width: 100%;
    height: 510px;
}

#how-holder {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}

#how {
    width: 1050px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#how h1{
    font-size: 16pt;
    color: #879EB3;
}

.how-textarea {
    background-color: #000;
    height: 150px;
    width: 268px;
    border-radius: 3px;
    top: 30px;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    border: solid;
    border-width: 1px;
    border-color: #000;
}

.how-textarea:hover {
    border: solid;
    border-width: 1px;
    border-color: #404952;
}


#how .how-textarea h1{
    top: 156px;
    font-family: 'Questrial';
    font-size: 10pt;
    color: #5AA4CC;
    line-height: normal;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 0px;
}

#how .how-textarea h2{
    position: absolute;
    top: 0px;
    left: -24px;
    font-family: 'Questrial';
    font-size: 20pt;
    color: #000;
    line-height: normal;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    text-shadow: 0 0 1.0em #879EB3, 0 0 1.0em #879EB3;
}

#how .how-textarea p{
    font-family: 'Helvetica';
    font-size: 13pt;
    color: #999999;
    left: 20px;
    top: 0px;
    width: 230px;
    height: 64px;
    padding-top: 6px;
    line-height: 130%;
    font-weight: lighter;
}

#how .how-textarea p:hover{
    cursor: pointer;
    color: #fff;
}

#how-diagram {
    background-image: url("../images/graphic-howitworks-pipe.png");
    background-position: center;
    background-repeat: no-repeat;
    top: 190px;
    margin-right: auto;
    margin-left: auto;
    width: 950px;
    height: 135px;
}

#button-learnmore-m a{
    background-image: url("../images/button-learnmore-m.png");
    display: block;
    width: 203px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    top: 210px;
}

#button-learnmore-m a:hover{
    background-image: url("../images/button-learnmore-m-alt.png");
}

/*communication*/
#background-main2 {
    background-color: #24292E;
    width: 100%;
    height: 256px;
}

#com {
    width: 1050px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#com-holder {
    margin-left: auto;
    margin-right: auto;
    width: 948px;
}

.com-box {
    background-color: #0B151A;
    height: 195px;
    width: 244px;
    border-radius: 3px;
    top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #404952;
}

.com-box:hover {
    border-color: #545F6B;
}

.com-box-icon {
    text-align: center;
    top: 40px;
}

.com-box p{
    width: 176px;
    top: 60px;
    left: 34px;
    font-size: 10pt;
    color: #9AB4CC;
}

/*newsletter*/
#mc_embed_signup {
    background: transparent;
    top: 70px;
    left: 40px;
    }
    
#mce-EMAIL {
    background-color: #3C454D;
    border-radius: 6px;
    width: 172px;
    height: 21px;
    font-family: arial;
    color: #ACCBDC;
    float: left;
    padding-left: 6px;
    margin-top: 3px;
}

#mc-embedded-subscribe{
    background-image: url("../images/button-newsletter-signup-sm.png");
    background-color: transparent;
    width: 20px;
    height: 21px;
    left: -20px;
}

#mc-embedded-subscribe:hover {
    background-image: url("../images/button-newsletter-signup-sm-alt.png");
    background-color: transparent;
    cursor: pointer;
}

/*credability*/
#background-main3 {
    background-image: url("../images/background-main3-home.png");
    width: 100%;
    height: 275px;
}


#cred-holder {
    margin-left: auto;
    margin-right: auto;
    width: 996px;
}

#cred {
    width: 1050px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.cred-box {
    height: 120px;
    width: 292px;
    top: 76px;
    margin-left: 134px;
    float: left;
}

.cred-box p {
    font-family: 'Questrial';
    font-size: 10pt;
    font-weight: 100;
    color: #748899;
    height: 90px;
    text-align: left;
}

.cred-owner {
    height: 60px;
    width: 292px;
}

.cred-box h1 {
    font-family: 'Questrial';
    font-size: 10pt;
    font-weight: 100;
    color: #E5692C;
    float: right;
    width: 170px;
    text-align: right;
}

.cred-box #logo-chatkong {
    background-image: url("../images/logo-chatkong.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;
}

.cred-box #logo-flixmaster {
    background-image: url("../images/logo-flixmaster.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;
}

.cred-box #logo-snapengage {
    background-image: url("../images/logo-snapengage.png");
    background-position: center left;
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;
}

.cred-box .cred-logo {
    top: 6px;
}

#background-footer {
    background-color: #24292E;
    width: 100%;
    height: 200px;
}

#footer {
    width: 1050px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/*footermenu*/
#footer-menu {
    top: 38px;
}

#footer-menu ul {
    float: left;
}

#footer-menu ul li{
    width: 180px;
    color: #9AB4CC;
    font-family: 'Questrial';
    font-size: 10.5pt;
    padding-top: 2px;
    padding-bottom: 2px;
}

#footer-menu ul li a{
    color: #748899;
    font-size: 10pt;
}

#footer-menu ul li a:hover{
    color: #fff;
    border-bottom: solid;
    border-width: 1px;
    border-color: #ff0000;
}

#phone-number p{
    float: right;
    font-size: 16pt;
    padding-top: 38px;
    font-family: Abel;
    color: #fff;
}

#icon-facebook a{
    position: absolute;
    display: block;
    background-image: url("../images/icon-facebook.png");
    height: 23px;
    width: 23px;
    right: 28px;
    top: 80px;
}

#icon-twitter a{
    position: absolute;
    display: block;
    background-image: url("../images/icon-twitter.png");
    height: 23px;
    width: 23px;
    right: 0px;
    top: 80px;
}

#copyrights p{
    position: absolute;
    right: 0px;
    font-size: 8pt;
    top: 120px;
    color: #4B5660;
}


/*tempsection*/
#count-down-page {
    width: 100%;
    height: 100%;
    background-color: #14171A;
}

#count-down-body {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

#count-header {
    height: 400px;
    width: 1050px;
    text-align: center;
    padding-top: 200px;
}

#count-header p {
    font-family: questrial;
    font-size: 20pt;
    color: #fff;
    letter-spacing: 8pt;
    padding-top: 40px;
}

#countdown {
    padding-top: 40px;
}

#newsletter-subscribe-countdown {
    width: 1050px;
    height: 200px;
}

#mc_embed_signup p {
    font-family: questrial;
    font-size: 16pt;
    color: #CC3E22;
    top: 25px;
    left: -250px;
    text-align: left;
    z-index: 5;
    letter-spacing: 8pt;
}

#mc_embed_signup {
    position: absolute;
    left: 532px;
    top: 40px;
}
    
#mce-EMAIL {
    background-color: #fff;
    width: 140px;
    height: 20px;
    color: #000;
    margin-bottom: 6px;
    padding-left: 4px;
}

#mc-embedded-subscribe{
    background-image: url("../images/signup-button.png");
    background-color: transparent;
    width: 78px;
    height: 37px;
    left: 00px;
    top: -4px;
    float: right;
}

#mc-embedded-subscribe:hover {
    background-image: url("../images/signup-button-alt.png");
    background-color: transparent;
    cursor: pointer;
}

#count-down-footer {
    width: 1050px;
}

#count-down-footer p {
    font-size: 8pt;
    color: #3C454D;
    text-align: right;
    margin-bottom: 20px;
}