* {
    border: 0;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    outline: none;
    margin: 0;
    padding: 0;
}

body { background-color: #0E0F12;
    text-align: center;
}

@font-face {
    font-family: 'Abel';
    src: url('fonts/abel-regular-webfont.eot');
    src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/abel-regular-webfont.woff') format('woff'), url('fonts/abel-regular-webfont.ttf') format('truetype'), url('fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questrial';
    src: url('fonts/questrial-regular-webfont.eot');
    src: url('fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/questrial-regular-webfont.woff') format('woff'), url('fonts/questrial-regular-webfont.ttf') format('truetype'), url('fonts/questrial-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Antic';
    src: url('fonts/antic-regular-webfont.eot');
    src: url('fonts/antic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/antic-regular-webfont.woff') format('woff'), url('fonts/antic-regular-webfont.ttf') format('truetype'), url('fonts/antic-regular-webfont.svg#AnticRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rexlia';
    src: url('fonts/rexlia_free-webfont.eot');
    src: url('fonts/rexlia_free-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/rexlia_free-webfont.woff') format('woff'), url('fonts/rexlia_free-webfont.ttf') format('truetype'), url('fonts/rexlia_free-webfont.svg#RexliaFree') format('svg');
    font-weight: normal;
    font-style: normal;
}

P {
    font-size: 11pt;
    font-family: Questrial;
    color: #9AB4CC;
    line-height: normal;
}

a {
    color: #C0E1FF;
}

h1 {
    font-size: 20pt;
    font-family: 'Abel';
    color: #fff;
    line-height: normal;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
}

.atrib-clear-left {
    clear: left;
}

.atrib-clear-right {
    clear: right;
}

#support a{
    background-image: url("../images/button-support-side.png");
    background-position: right;
    width: 28px;
    height: 98px;
    z-index: 10;
    top: 200px;
    left: 0px;
    position: fixed;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

#support a:hover{
    width: 57px;
}

#contact-us a{
    background-image: url("../images/button-contactus-side.png");
    background-position: right;
    width: 28px;
    height: 98px;
    z-index: 10;
    top: 310px;
    left: 0px;
    position: fixed;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

#contact-us a:hover{
    width: 57px;
}

#background-top {
    background-image: url("../images/background-inner-header.png");
    width: 100%;
    height: 136px;
}

#header {
    width: 1050px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#header-logo {
    left: 0px;
    top: 58px;
}

#header-menu {
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
    width: 400px;
}

#header-menu li a{
    padding-top: 66px;
    float: right;
    margin-left: 24px;
    font-family: 'Questrial';
    font-size: 12pt;
    color: #999999;
}

#header-menu li a:hover{
    padding-top: 62px;;
    color: #fff;
    border-top: solid;
    border-width: 4px;
    border-color: #ff0000;
    text-shadow: 0 0 0.2em #60B2DC, 0 0 0.2em #60B2DC;
}

#header-menu li a:active{
    padding-top: 63px;
    color: #F2F2F2;
    border-top: solid;
    border-width: 4px;
    border-color: #ff0000;
    text-shadow: 0 0 1.0em #60B2DC, 0 0 1.0em #60B2DC;
}

/*body*/
#background-main1 {
    background-image: url("../images/background-inner-main.png");
    background-repeat: repeat-x;
    background-color: #1E2226;
    width: 100%;
    min-height: 252px;
}

#body {
    width: 1050px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

/*body-navigationbar*/
#body-navbar {
    position: absolute;
    top: 40px;
    margin-left: -200px;
    text-align: right;
}

#body-navbar a {
    font-family: Questrial;
    font-size: 9pt;
    color: #1E2226;
    display: block;
    width: 100px;
    height: 30px;
    padding-top: 28px;
    padding-bottom: 10px;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -o-transition: .6s ease;
    -ms-transition: .6s ease;
    transition: .6s ease;
    padding-right: 60px;
}

#body-navbar a:hover {
    color: #fff;
    font-size: 9pt;
    width: 100px;
}

#body-navbar .bodynav-about {
    background-image: url("../images/icon-about.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-about:hover {
    background-image: url("../images/icon-about-alt.png");
}

#body-navbar .bodynav-contact {
    background-image: url("../images/icon-contact.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-contact:hover {
    background-image: url("../images/icon-contact-alt.png");
}

#body-navbar .bodynav-jobs {
    background-image: url("../images/icon-jobs.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-jobs:hover {
    background-image: url("../images/icon-jobs-alt.png");
}

#body-navbar .bodynav-howitworks {
    background-image: url("../images/icon-howitworks.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-howitworks:hover {
    background-image: url("../images/icon-howitworks-alt.png");
}

#body-navbar .bodynav-pricing {
    background-image: url("../images/icon-pricing.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-pricing:hover {
    background-image: url("../images/icon-pricing-alt.png");
}

#body-navbar .bodynav-add-ons{
    background-image: url("../images/icon-addons.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-add-ons:hover {
    background-image: url("../images/icon-addons-alt.png");
}

#body-navbar .bodynav-whyprecog{
    background-image: url("../images/icon-whyprecog.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-whyprecog:hover {
    background-image: url("../images/icon-whyprecog-alt.png");
}

#body-navbar .bodynav-successstories{
    background-image: url("../images/icon-successstories.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-successstories:hover {
    background-image: url("../images/icon-successstories-alt.png");
}

#body-navbar .bodynav-devpartner{
    background-image: url("../images/icon-devpartner.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-devpartner:hover {
    background-image: url("../images/icon-devpartner-alt.png");
}

#body-navbar .bodynav-addonpartner{
    background-image: url("../images/icon-addonpartner.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-addonpartner:hover {
    background-image: url("../images/icon-addonpartner-alt.png");
}

#body-navbar .bodynav-newsandevents{
    background-image: url("../images/icon-news&events.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-newsandevents:hover {
    background-image: url("../images/icon-news&events-alt.png");
}

#body-navbar .bodynav-blog{
    background-image: url("../images/icon-bloglink.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-blog:hover {
    background-image: url("../images/icon-bloglink-alt.png");
}

#body-navbar .bodynav-devcenter{
    background-image: url("../images/icon-documentation.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-devcenter:hover {
    background-image: url("../images/icon-documentation-alt.png");
}

#body-navbar .bodynav-support{
    background-image: url("../images/icon-support.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-support:hover {
    background-image: url("../images/icon-support-alt.png");
}

#body-navbar .bodynav-status{
    background-image: url("../images/icon-status.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#body-navbar .bodynav-status:hover {
    background-image: url("../images/icon-status-alt.png");
}

/*bodycontentarea*/
#body-content-left {
    width: 580px;
    min-height: 400px;
    float: left;
    padding-right: 58px;
    margin-top: 30px;
    border-right: solid;
    border-width: 2px;
    border-color: #15181A;
}

#body-content-left a, #body-content-left-dev-cntr {
    text-decoration: underline !important;
}

#body-content-left h2{
    font-size: 20px;
    color: #C13707;
    padding-bottom: 2px;
    font-family: questrial;
    font-weight: normal;
}

.body-title {
    font-size: 40px;
    color: #C03C26;
    margin-bottom: 2px;
    z-index: 10;
    width: 500px;
}

#body-content-left p {
    font-family:  Helvetica, Questrial, sans-serif;
    font-weight: lighter;
    padding-top: 4px;
    padding-bottom: 20px;
    line-height: 1.3;
}

#body-content-left h2 {
    font-size: 20px;
    color: #C13707;
    padding-bottom: 2px;
    font-family: questrial;
    font-weight: normal;
}

/*add-ons*/
#body-add-ons {
    width: 1050px;
    padding-top: 30px;
}

#body-add-ons h1{
    color: #fff;
    font-size: 40px;
    font-weight: normal;
}

.body-add-ons-section {
    width: 1050px;
    height: 440px;
}

.add-on-section {
    background-image: url("../images/graphic-addon-background.png");
    margin-top: 30px;
    width: 275px;
    height: 400px;
    float: left;
}

.left {
    margin-right: 112px;
}

.right {
    margin-left: 112px;
}

.app-status {
    width: 58px;
    height: 58px;
    float: left;
}

.app-icon-detail {
    position: relative;
    top: -10px;
    left: -20px;
    width: 275px;
    height: 60px;
    text-align: center;
}

#body-add-ons .add-on-section h1{
    font-family: questrial;
    font-size: 14pt;
    color: #4B87C6;
    padding-left: 17.5pt;
    padding-top: 4px;
}

#body-add-ons .add-on-section p{
    font-family: questrial;
    font-size: 10pt;
    color: #fff;
    padding-left: 17.5pt;
    width: 230px;
    height: 24px;
}

#body-add-ons .add-on-pricing-options p {
    font-family: questrial;
    font-size: 11pt;
    padding-top: 26px;
    padding-left: 17.5pt;
    width: 230px;
    color: #748899;
}

#body-add-ons .add-on-pricing-options span {
    float: right;
    color: #FEC129;
}

#body-add-ons .add-on-per-month span {
    font-family: abel;
    font-size: 7pt;
    padding-right: 22px;
    color: #617280;
}

.button-learnmore-sm a {
    position: absolute;
    background-image: url("../images/button-learnmore-sm.png");
    display: block;
    width: 136px;
    height: 50px;
    right: 14px;
    top: 30px;
    cursor: pointer;
}

.button-learnmore-sm a:hover {
    background-image: url("../images/button-learnmore-sm-alt.png");
}

/*how it works special*/
#how-it-works-content{
}

#hiw-menu {
    padding-top: 30px;
    left: 40px;
    width: 100%;
}

.hiw-button {
    width: 245px;
    height: 74px;
    float: left;
    cursor: pointer;
    margin-left: -5px;
}

.hiw-button:hover {
    opacity: 1.0;
}

.capture-lg {
    background-image: url("../images/button-capture-lg.png");
}

.capture-lg-alt {
    background-image: url("../images/button-capture-lg-alt.png");
}

.enrich-lg {
    background-image: url("../images/button-enrich-lg.png");
}

.enrich-lg-alt {
    background-image: url("../images/button-enrich-lg-alt.png");
}

.analyze-lg {
    background-image: url("../images/button-analyze-lg.png");
}

.analyze-lg-alt {
    background-image: url("../images/button-analyze-lg-alt.png");
}

.act-lg {
    background-image: url("../images/button-act-lg.png");
}

.act-lg-alt {
    background-image: url("../images/button-act-lg-alt.png");
}

#hiw-panel-holder {
    width: 1050px;
    overflow: hidden;
}

#hiw-panel-slider {
    width: 4200px;
    left: 0px;
    margin-bottom: 100px;
}

.hiw-text-pane, .hiw-text-pane3, .hiw-text-pane4 {
    position: absolute;
    width: 1050px;
    display: table;
    margin-top: 220px;
    z-index: 10;
}

#hiw-panel-slider .hiw-text-pane p, #hiw-panel-slider .hiw-text-pane3 p, #hiw-panel-slider .hiw-text-pane4 p {
    width: 800px;
    height: 100px;
    font-size: 12pt;
    color: #9BC6DC;
    display: table-cell;
    vertical-align: middle;
    left: 125px;
    text-align: center;
}

.hiw-text-pane2 {
    position: absolute;
    width: 1050px;
    display: table;
    margin-top: 40px;
    z-index: 10;
}

#hiw-panel-slider .hiw-text-pane2 p {
    width: 800px;
    height: 100px;
    font-size: 12pt;
    color: #9BC6DC;
    display: table-cell;
    vertical-align: middle;
    left: 125px;
    text-align: center;
}

#hiw-menu-text {
    left: 34px;
}

.hiw-menu-text-1, .hiw-menu-text-2, .hiw-menu-text-3, .hiw-menu-text-4 {
    float: left;
    width: 240px;
}

.hiw-menu-text-1 p, .hiw-menu-text-2 p, .hiw-menu-text-3 p, .hiw-menu-text-4 p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    opacity: .3;
    color: #fff;
    font-size: 10pt;
}

#hiw-panel-capture {
    float: left;
    width: 1050px;
    height: 400px;
    margin-top: 60px;
}

#hiw-panel-1 {
    background-image: url("../images/graphic-database.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0F171B;
    border-radius: 6px;
    width: 165px;
    height: 165px;
    float: left;
    margin-left: 50px;
    margin-right: 25px;
}

#hiw-panel-2 {
    background-image: url("../images/graphic-frontend.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0F171B;
    border-radius: 6px;
    width: 165px;
    height: 165px;
    float: left;
    margin-right: 25px;
}

#hiw-panel-3 {
    background-image: url("../images/graphic-backend.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0F171B;
    border-radius: 6px;
    width: 165px;
    height: 165px;
    float: left;
    margin-right: 25px;
}

#hiw-panel-4 {
    background-image: url("../images/graphic-thirdparty.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0F171B;
    border-radius: 6px;
    width: 165px;
    height: 165px;
    float: left;
    margin-right: 25px;
}

#hiw-panel-5 {
    background-image: url("../images/graphic-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0F171B;
    border-radius: 6px;
    width: 165px;
    height: 165px;
    float: left;
}

#hiw-panel-1 p, #hiw-panel-2 p, #hiw-panel-3 p, #hiw-panel-4 p, #hiw-panel-5 p {
    font-size: 10pt;
    width: 165px;
    text-align: center;
    margin-top: 140px;
    color: #9BC6DC;
}

#hiw-text-1 {
    display: block;
}

#hiw-text-2, #hiw-text-3, #hiw-text-4, #hiw-text-5 {
    display: none;
}

#hiw-panel-analyze {
    float: left;
    width: 1050px;
    height: 400px;
    margin-top: 52px;
}

#hiw-panel-text-background {
    position: absolute;
    top: 570px;
    width: 100%;
    height: 102px;
    border-bottom: solid;
    border-top: solid;
    border-width: 1px;
    border-color: #282E33;
    background-color: #0F171B;
    z-index: 1;
}

.hiw-pane, .hiw-enrich-panel, .hiw-analyze-icon, .hiw-act-app {
    border: solid;
    border-width: 1px;
    border-color: #14171A;
}

.hiw-pane:hover, .hiw-enrich-panel:hover, .hiw-analyze-icon:hover, .hiw-act-app:hover {
    border: solid;
    border-width: 1px;
    border-color: #3C454D;
}

/*how it works enrich*/
#hiw-panel-enrich {
    float: left;
    width: 1050px;
    height: 400px;
    margin-top: 60px;
}

.hiw-enrich-panel {
    background-color: #0F171B;
    background-repeat: no-repeat;
    background-position: center;
    width: 132px;
    height: 132px;
    border-radius: 6px;
    float: left;
    margin-left: 33px;
    margin-top: 20px;
}

#hiw-enrich-pane-1 {
    background-image: url("../images/graphic-hiw-demographics.png");
}

#hiw-enrich-pane-2 {
    background-image: url("../images/graphic-hiw-sentiment.png");
}

#hiw-enrich-pane-3 {
    background-image: url("../images/graphic-hiw-geo.png");
}

#hiw-enrich-pane-4 {
    background-image: url("../images/graphic-hiw-facets.png");
}

#hiw-enrich-pane-5 {
    background-image: url("../images/graphic-hiw-weather.png");
}

#hiw-enrich-pane-6 {
    background-image: url("../images/graphic-hiw-more.png");
}

#hiw-enrich-1 {
    display: block;
}

#hiw-enrich-2, #hiw-enrich-3, #hiw-enrich-4, #hiw-enrich-5, #hiw-enrich-6 {
    display: none;
}

#hiw-panel-text .hiw-enrich-panel p {
    font-size: 10pt;
    width: 132px;
    text-align: center;
    margin-top: 106px;
    color: #9BC6DC;
}

/*how it work analyze*/
.hiw-analyze-panel {
    width: 600px;
    height: 180px;
    background-color: #0F171B;
    float: left;
    margin-left: 94px;
    border-radius: 6px;
}

.hiw-analyze-panel-2 {
    width: 260px;
    height: 180px;
    float: left;
    margin-left: 38px;
    border-radius: 6px;
}

#hiw-analyze-icon-1, #hiw-analyze-icon-2, #hiw-analyze-icon-3, #hiw-analyze-icon-4 {
    width: 78px;
    height: 78px;
    background-color: #0F171B;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    border-radius: 6px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#hiw-analyze-icon-1 {
    background-image: url("../images/graphic-hiw-analyze-rec.png");
}

#hiw-analyze-icon-2 {
    background-image: url("../images/graphic-hiw-analyze-prob.png");
}

#hiw-analyze-icon-3 {
    background-image: url("../images/graphic-hiw-analyze-predict.png");
}

#hiw-analyze-icon-4 {
    background-image: url("../images/graphic-hiw-analyze-trend.png");
}

.analyze-script {
    position: absolute;
    display: table;
    height: 200px;
    width: 400px;
}

.analyze-script p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    font-size: 8pt;
    font-family: courier;
    display: table-cell;
    vertical-align: middle;
    white-space: pre;
    height: 200px;
    width: 400px;
}

#hiw-analyze-1 {
    display: block;
}

#hiw-analyze-2, #hiw-analyze-3, #hiw-analyze-4, #hiw-analyze-5, #hiw-analyze-6, #hiw-analyze-7, #hiw-analyze-8 {
    display: none;
}

#analyze-script-1 {
    display: block;
}

#analyze-script-2, #analyze-script-3, #analyze-script-4, #analyze-script-5, #analyze-script-6, #analyze-script-7, #analyze-script-8 {
    display: none;
}

.hiw-analyze-panel ul {
    color: #808080;
    font-family: questrial;
    font-size: 10pt;
    padding-top: 18px;
    padding-left: 20px;
}

.hiw-analyze-panel ul li{
    background-image: url("../images/graphic-hiw-bullet.png");
    background-repeat: no-repeat;
    background-position: left center;
    color: #808080;
    font-family: questrial;
    font-size: 10pt;
    padding-left: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}

/*HOW IT WORKS ACT*/
#hiw-panel-act {
    float: left;
    width: 1050px;
    height: 400px;
    margin-top: 32px;
}

#hiw-act-app-box {
    width: 210px;
    height: 210px;
    left: 160px;
    border-radius: 6px;
    background-color: #0F171B;
}

.hiw-act-app-pic {
    width: 210px;
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

#hiw-act-app-pic-1 {
    background-image: url("../images/graphic-hiw-act-appdefault.png");
    display: block;
    width: 210px;
    height: 210px;
}

#hiw-act-app-pic-2 {
    background-image: url("../images/graphic-hiw-act-crm.png");
    display: none;
    border-radius: 6px;
}

#hiw-act-app-pic-3 {
    background-image: url("../images/graphic-hiw-act-support.png");
    display: none;
    border-radius: 6px;
}

#hiw-act-app-pic-4 {
    background-image: url("../images/graphic-hiw-act-ecom.png");
    display: none;
    border-radius: 6px;
}

#hiw-act-app-pic-5 {
    background-image: url("../images/graphic-hiw-act-ads.png");
    display: none;
    border-radius: 6px;
}

#hiw-act-app-pic-6 {
    background-image: url("../images/graphic-hiw-act-cmt.png");
    display: none;
    border-radius: 6px;
}

#hiw-act-app-pic-7 {
    background-image: url("../images/graphic-hiw-act-kickstarter.png");
    display: none;
    border-radius: 6px;
}

#hiw-act-apps {
    position: absolute;
    left: 400px;
    top: 0px;
    width: 600px;
    height: 210px;
}

.hiw-act-app {
    width: 92px;
    height: 92px;
    border-radius: 6px;
    background-color: #0F171B;
    float: left;
    margin-right: 29px;
    margin-bottom: 26px;
}

#hiw-panel-text .hiw-act-app p {
    font-size: 12pt;
    color: #E5692A;
    padding-top: 38px;
}

/*partner program*/
.partner-logo-box {
    width: 390px;
    height: 100px;
    margin-left: 20px;
    margin-top: 40px;
    text-align: center;
}

.content-right-graphic h2 {
    font-size: 12px;
    color: #C13707;
    padding-bottom: 2px;
    font-family: questrial;
    font-weight: normal;
    padding-left: 20px;
}

#hiw-act-1 {
    display: block;
}

#hiw-act-2, #hiw-act-3, #hiw-act-4, #hiw-act-5, #hiw-act-6, #hiw-act-7, #hiw-act-8, #hiw-act-9 {
    display: none;
}

#hiw-act-apps .hiw-act-app p {
    font-size: 10pt;
    width: 92px;
    text-align: center;
    color: #E5692A;
    font-size: 12pt;
}

#body .font-code {
    background-color: #14171A;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#body .font-code p{
    font-family: Courier;
    font-size: 10pt;
    color: #C03C26;
    background-color: #14171A;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.body-section-breaker {
    background-image: url("../images/graphic-bodysectionbreaker.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 580px;
    height: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.body-section-breaker-lg {
    background-image: url("../images/graphic-bodysectionbreaker-lg.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 1050px;
    height: 2px;
    padding-top: 20px;
    padding-bottom: 4px;
}

/*body-content-right*/
#body-content-right {
    padding-top: 34px;
    width: 410px;
    float: left;
}

/*images for center content*/
#body-content-right .under-construction {
    width: 410px;
    height: 170px;
    margin-top: 60px;
    background-image: url("../images/graphic-underconstruction.png");
    background-repeat: no-repeat;
    background-position: center top;
}


/*about*/
.body-image-right {
    float: right;
    padding-bottom: 20px;
    padding-left: 20px;
}

.body-image-left {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.about-employee {
    width: 205px;
    height: 160px;
    float: left;
}

.about-employee h1 {
    text-align: center;
    font-family: questrial;
    font-size: 10pt;
    color: #9BB4CC;
    padding-bottom: 2px;
    top: 90px;
}

.about-employee p {
    text-align: center;
    font-family: questrial;
    font-size: 8pt;
    color: #617280;
    padding-top: 2px;
    top: 90px;
}

.about-employee h2 {
    font-size: 9pt;
    text-align: center;
    padding-left: 0px;
}

.jdg-contact, .knc-contact, .fp-contact, .js-contact, .ds-contact, .dcb-contact, .nm-contact, .mdg-contact, .ap-contact, .yh-contact {
    font-family: questrial;
    font-size: 10pt;
    color: #C13707;
    top: 110px;
    opacity: 0.0;
}

/*contact-us*/
.contact-details h2 {
    float: left;
    font-family: questrial;
    font-size: 12pt;
    color: #9AB4CC;
    font-weight: normal;
    padding-bottom: 0px;
    padding-top: 2px;
    width: 80px;
}

.contact-details p{
    float: left;
    font-family: questrial;
    font-size: 12pt;
    color: #fff;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.contact-details a {
    float: left;
    font-family: questrial;
    font-size: 12pt;
    color: #fff;
    padding-bottom: 0px;
    padding-top: 0px;
    cursor: pointer;
}

#google-map {
    padding-left: 20px;
    padding-top: 24px;
}

.jdg {
    background-image: url("../images/graphic-johndegoes.png");
    background-repeat: no-repeat;
    background-position: center;
}

.knc {
    background-image: url("../images/graphic-krisnuttycombe.png");
    background-repeat: no-repeat;
    background-position: center;
}

.fp {
    background-image: url("../images/graphic-francoponticelli.png");
    background-repeat: no-repeat;
    background-position: center;
}

.js {
    background-image: url("../images/graphic-jasonspinell.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ds {
    background-image: url("../images/graphic-danielspiekwak.png");
    background-repeat: no-repeat;
    background-position: center;
}

.dcb {
    background-image: url("../images/graphic-derekchenbecker.png");
    background-repeat: no-repeat;
    background-position: center;
}

.knc {
    background-image: url("../images/graphic-krisnuttycombe.png");
    background-repeat: no-repeat;
    background-position: center;
}

.nm {
    background-image: url("../images/graphic-nickmatheson.png");
    background-repeat: no-repeat;
    background-position: center;
}

.mdg {
    background-image: url("../images/graphic-matthewdegoes.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ap {
    background-image: url("../images/graphic-alissapajer.png");
    background-repeat: no-repeat;
    background-position: center;
}

.yh {
    background-image: url("../images/graphic-youhere.png");
    background-repeat: no-repeat;
    background-position: center;
}

/*jobs*/
.button-contactus-lg a {
    display: block;
    background-image: url("../images/button-contactus-lg.png");
    width: 203px;
    height: 63px;
    float: right;
    padding-right: 0px;
}

.button-contactus-lg a:hover {
    background-image: url("../images/button-contactus-lg-alt.png");
}

#scrolling-jobs-panel {
    margin-top: 30px;
    width: 410px;
    height: 410px;
    overflow: hidden;
}

#scrolling-jobs-panel .scrolling-right-panel-graphic {
    background-image: url("../images/graphic-jobs-panel.png");
    background-repeat: no-repeat;
    width: 1852px;
    height: 136px;
    left: 80px;
}

#scrolling-jobs-panel .right-panel-quote {
    margin-top: 40px;   
    width: 410px;
    height: 410px;
    text-align: center;
}


#scrolling-jobs-panel .right-panel-quote p {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14pt;
    color: #4B5660;
    line-height: 1.30;
    padding-top: 0px;
}

/*success stories*/
.body-image-left-text {
    top: 20px;
    width: 326px;
    float: left;
    height: 78px;
    display: table;
}

.body-image-left-text p {
    padding-left: 20px;
    padding-right: 20px;
    height: 78px;
    font-family: abel;
    font-size: 10pt;
    color: #748899;
    display: table-cell;
    vertical-align: middle;
}

#success-stories-picture {
    padding-top: 30px;
    width: 410px;
    text-align: center;
}

#success-stories-picture h1 {
    font-family: questrial;
    font-size: 14pt;
    padding-bottom: 4px;
    padding-top: 6px;
}

#success-stories-picture p {
    font-family: questrial;
    font-size: 8pt;
    color: #E5692C;
    letter-spacing: 1px;
}

/*blog*/
#blog-nabble-section {
    width: 1050px;
    top: -60px;
}

#body-content-left-blog {
    width: 1050px;
    float: left;
    padding-right: 58px;
    margin-top: 30px;
}

/*news and events*/
.news-event-details {
    width: 71px;
    height: 71px;
    display: block;
    float: left;
}

.news-icon {
    background-image: url("../images/graphic-news-date.png");
}

.events-icon {
    background-image: url("../images/graphic-events-date.png");
}

#body-content-left .news-event-date h2 {
    width: 71px;
    font-size: 9pt;
    margin-top: 50pt;
    color: #808080;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 0px;
}

#body-content-left .news-event-date p {
    width: 71px;
    font-size: 12pt;
    padding-top: 16pt;
    color: #CC4027;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.next-event-text {
    width: 460px;
    height: 120px;
    float: left;
    display: table;
}

.next-event-text p {
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
}

.next-event-text a {
    float: right;
    padding-top: 20px;
    font-size: 10pt;
}

#news-items-only, #event-items-only {
    width: 390px;
    height: 38px;
    background-color: #15181A;
    border-radius: 6px;
    margin-top: 8px;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 30px;
}

#news-items-only p, #event-items-only p {
    font-size: 18px;
    color: #C13707;
    padding-top: 10px;
    padding-left: 10px;
    font-family: questrial;
    font-weight: normal;
}

#event-items-only {
    width: 390px;
    height: 38px;
    background-color: #15181A;
    border-radius: 6px;
    margin-top: 8px;
    margin-left: 20px;
    cursor: pointer;
}

#featured-event {
    width: 390px;
    height: 200px;
    margin-left: 20px;
    margin-top: 8px;
    background-color: #15181A;
    border-radius: 6px;
}

#featured-event h1 {
    font-size: 18px;
    color: #C2DFF4;
    padding-top: 20px;
    padding-left: 20px;
    font-family: questrial;
    font-weight: normal;
    text-shadow: 0 0 .5em #879EB3, 0 0 .2em #879EB3;
    background-color: transparent !important;
}

#featured-event p {
    font-size: 14px;
    color: #879EB3;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: questrial;
}

.featuredevent-image-right {
    float: right;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#precog-event-calender {
    width: 390px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    opacity: .8;
}

#precog-event-calender:hover {
    opacity: 1.0;
}

/*WHY PRECOG*/
#why-precog-frame {
    width: 390px;
    height: 606px;
    margin-left: 10px;
    overflow: hidden;
}

#why-precog-slider {
    width: 1170px;
    height: 406px;
}

.why-precog-panel {
    width: 390px;
    height: 406px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
}

.why-precog-panel p {
    text-align: center;
    top: 396px;
    font-size: 12pt;
    line-height: 130%;
    padding-left: 40px;
    padding-right: 40px;
}

.why-api {
    background-image: url("../images/graphic-whyprecog-api.png");
}

.why-analysis {
    background-image: url("../images/graphic-whyprecog-analysis.png");
}

.why-machines {
    background-image: url("../images/graphic-whyprecog-machines.png");
}

#why-precog-selector {
    width: 120px;
    margin-left: 162px;
    top: -150px;
}

#why-precog-selector ul li{
    background-image: url("../images/button-app-dot.png");
    height: 12px;
    width: 11px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}

/*PRICING*/
#body-content-pricing {
    width: 1050px;
    padding-top: 30px;
}

#pricing-sticker {
    position: absolute;
    right: -80px;
    top: 624px;
    width: 140px;
    height: 101px;
    z-index: 10;
}

#body-content-pricing h2 {
    font-size: 20px;
    color: #C13707;
    padding-bottom: 2px;
    font-family: questrial;
    font-weight: normal;
    padding-top: 20px;
}

.body-pricing-difference {
    height: 230px;
    width: 330px;
    float: left;
    padding-bottom: 30px;
}

.pricing-api {
    background-image: url("../images/graphic-pricing-api.png");
    background-position: center;
    background-repeat: no-repeat;
}

.pricing-deepanalysis {
    background-image: url("../images/graphic-pricing-analysis.png");
    background-position: center;
    background-repeat: no-repeat;
}

.pricing-machines {
    background-image: url("../images/graphic-pricing-machines.png");
    background-position: center;
    background-repeat: no-repeat;
}

#body-content-pricing .body-pricing-difference ul {
    left: 90px;
    top: 200px;
}

#body-content-pricing .body-pricing-difference ul li {
    list-style-type: square;
    list-style-image: url("../images/graphic-pricing-bullet.png");
    color: #748899;
    font-family: questrial;
    padding-top: 4px;
}

#pricing-panel {
    background-image: url("../images/graphic-pricing-background.png");
    width: 996px;
    height: 535px;
    margin-left: 27px;
    margin-top: 10px;
}

.pricing-details {
    width: 169px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

#body-content-pricing .pricing-details h1 {
    font-family: questrial;
    font-size: 14pt;
    color: #4B87C6;
}

#body-content-pricing .pricing-details p {
    font-family: abel;
    font-size: 11pt;
    color: #9BB4CC;
    padding-bottom: 20px;
}

#body-content-pricing .body-pricing-difference h1 {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Questrial';
    font-size: 24pt;
    color: #000;
    line-height: normal;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    text-shadow: 0 0 .5em #879EB3, 0 0 .2em #879EB3;
}

.pricing-details .pricing-images {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pricing-panel .pricing-images h1 {
    font-family: questrial;
    font-size: 12pt;
    color: #CC4027;
    padding-top: 20px;
    padding-bottom: 2px;
}

#pricing-panel .pricing-images h2 {
    font-family: questrial;
    font-size: 12pt;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 2px;
}

#pricing-panel .pricing-images p {
    font-family: abel;
    font-size: 8pt;
    color: #879EB2;
    padding-bottom: 6px;
}

.button-getstarted a {
    background-image: url("../images/button-getstarted-lg.png");
    width: 203px;
    height: 63px;
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.button-getstarted a:hover {
    background-image: url("../images/button-getstarted-lg-alt.png");
}

.body-pricing-difference-li {
    opacity: 0.0;
    font-weight: lighter;
    letter-spacing: 1px;
}

/*DEVELOPER CENTER*/
#body-content-left-dev-cntr {
    width: 780px;
    float: left;
    padding-right: 58px;
    margin-top: 30px;
    border-right: solid;
    border-width: 2px;
    border-color: #15181A;
}

#body-content-left-dev-cntr h2 {
    font-size: 20px;
    color: #C13707;
    padding-bottom: 2px;
    font-family: questrial;
    font-weight: normal;
}

#body-content-left-dev-cntr h3 {
    font-size: 15px;
    color: #fff;
    padding-bottom: 4px;
    font-family: questrial;
    font-weight: normal;
}

#body-content-left-dev-cntr p {
    font-family:  Helvetica, Questrial, sans-serif;
    font-weight: lighter;
    padding-top: 4px;
    padding-bottom: 20px;
    line-height: 1.3;
}

#body-content-left ul {
    padding-top: 10px;
    list-style-image: url(../images/button-ul-li.png);
    padding-left: 20px;
    padding-bottom: 10px;
}

#body-content-left ul li {
    font-family: Helvetica, Questrial, sans-serif;
    font-size: 10pt;
    color: #9AB4CC;
    letter-spacing: 1px;
    padding-bottom: 4px;
    line-height: 1.4;
    font-weight: lighter;
}

#body-content-left-dev-cntr ul li a {
    color: #C0E1FF;
}


#body-content-right-dev-cntr {
    padding-top: 34px;
    width: 190px;
    float: left;
    min-height: 300px;
}

#content-right-menu {
    position: fixed;
    padding-top: 30px;
}

#content-right-menu ul li {
    width: 190px;
    height: 38px;
    background-color: #15181A;
    border-radius: 6px;
    margin-top: 8px;
    margin-left: 20px;
}

#content-right-menu ul li a {
    font-family: questrial;
    font-size: 13pt;
    color: #C03B27;
    left: 10px;
    top: 10px;
}

.dev-center-api-doc {
    font-family: questrial;
    font-size: 13pt;
    color: #C03B27;
    left: 10px;
    display: none;
}

#developer-console {
    top: -20px;
    overflow: auto;
}

#console {
    width: 768px;
    height: 200px;
}

#console div.jquery-console-inner {
    min-height: 188px;
}

#body-content-left-dev-cntr ul {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#body-content-left-dev-cntr ul li {
    font-family: Helvetica, Questrial, sans-serif;
    font-size: 10pt;
    color: #9AB4CC;
    letter-spacing: 1px;
    padding-bottom: 4px;
    line-height: 1.4;
    font-weight: lighter;
    background-repeat: no-repeat;
    padding-lefT: 20px; 
}

.feature-json {
    background-image: url("../images/bullet-icon-json.png");
}

.feature-multistructured {
    background-image: url("../images/bullet-icon-mstructured.png");
}

.feature-schemaless {
    background-image: url("../images/bullet-icon-schemaless.png");
}

.feature-highlyscalable {
    background-image: url("../images/bullet-icon-hscalable.png");
}

.feature-advancedanalysis {
    background-image: url("../images/bullet-icon-analysis.png");
}

.feature-fastqueries {
    background-image: url("../images/bullet-icon-fqueries.png");
}

.feature-addons {
    background-image: url("../images/bullet-icon-addons.png");
}

.feature-opensource {
    background-image: url("../images/bullet-icon-osource.png");
}

/*
.console div.jquery-console-inner {
    width: 768px;
    height: 200px;
}
*/
.console {
    color: #fff;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
    font-size: 12px;
    margin-top: 30px;
    max-height: 250px;
    overflow: auto;
}

.console div.jquery-console-inner {
    background:#000;
    padding:0.5em;
}

.console .jquery-console-cursor {
    background-color: #ccc;
}

.console .jquery-console-prompt-label {
    color: #4629eb;
    white-space: pre;
}

.console .jquery-console-message.success {
    color: #51bbce;
}
.console .jquery-console-message.error {
    color: #c63846;
}

#sticker-console {
    background-image: url("../images/sticker-console-page.png");
    width: 141px;
    height: 66px;
    position: absolute;
    z-index: 1;
    left: 670px;
    margin-top: -20px;
}

.console-execute {
    width: 780px;
    height: 30px;
    top: 0px;
    z-index: 1;
    float: left;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.console-execute-button-2 {
    width: 100px;
    height: 39px;
    background-image: url("../images/button-execute-lg.png");
    z-index: 2;
    float: right;
    left: -12px;
    cursor: pointer;
}

.console-execute-button-2:hover {
    background-image: url("../images/button-execute-lg-alt.png");
}

.console-execute-button {
    width: 81px;
    height: 39px;
    background-image: url("../images/button-execute-m.png");
    z-index: 2;
    float: right;
    cursor: pointer;
}

.console-execute-button:hover {
    background-image: url("../images/button-execute-m-alt.png");
}

.button-top-adjust {
    top: -30px !important;
    left: -5px !important;
}

/*TUTORIALS*/
.console-tutorials {
    width: 768px;
    color: #fff;
    background-color: #000;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
    font-size: 12px;
    border-radius: 6px;
}

/*API DOCUMENTATION*/
.api-info {
    width: 768px;
    background-color: #14171A;
    border-radius: 6px;
}

#body-content-left-dev-cntr .api-info table tr td {
    padding-bottom: 20px;
}

.api-text-name {
    font-family: questrial;
    font-size: 12pt;
    padding-left: 20px;
    padding-top: 20px;
    color: #fff;
}

.api-text-description {
    font-family: questrial;
    font-size: 12pt;
    padding-left: 20px;
    padding-top: 20px;
    color: #fff;
}

.api-text-name-2 {
    font-family: questrial;
    font-size: 10pt;
    padding-left: 20px;
    padding-top: 20px;
    color: #368CE6;
    vertical-align: text-top;
}

.api-text-description-2 {
    font-family: questrial;
    font-size: 10pt;
    padding-left: 20px;
    padding-top: 20px;
    color: #748899;
    padding-bottom: 20px;
    vertical-align: text-top;
}

.api-code {
    font-family: questrial;
    font-size: 10pt;
    color: #EA7F1E;
    padding-left: 20px;
    vertical-align: middle;
}

/*FOOTER*/
#background-footer {
    background-color: #15181A;
    width: 100%;
    height: 200px;
}

#footer {
    width: 1050px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/*footermenu*/
#footer-menu {
    top: 38px;
}

#footer-menu ul {
    float: left;
}

#footer-menu ul li{
    width: 180px;
    color: #9AB4CC;
    font-family: 'Questrial';
    font-size: 10.5pt;
    padding-top: 2px;
    padding-bottom: 2px;
}

#footer-menu ul li a{
    color: #748899;
    font-size: 10pt;
}

#footer-menu ul li a:hover{
    color: #fff;
    border-bottom: solid;
    border-width: 1px;
    border-color: #ff0000;
}

#phone-number p{
    float: right;
    font-size: 16pt;
    padding-top: 38px;
    font-family: Abel;
    color: #fff;
}

#icon-facebook a{
    position: absolute;
    display: block;
    background-image: url("../images/icon-facebook.png");
    height: 23px;
    width: 23px;
    right: 28px;
    top: 80px;
}

#icon-twitter a{
    position: absolute;
    display: block;
    background-image: url("../images/icon-twitter.png");
    height: 23px;
    width: 23px;
    right: 0px;
    top: 80px;
}

#copyrights p{
    position: absolute;
    right: 0px;
    font-size: 8pt;
    top: 120px;
    color: #4B5660;
}

#webinar-options {
    
}

#webinar-options ul li{
    background-image: url("../images/icon-new-post.png");
    background-repeat: no-repeat;
    background-position: left center;
    color: #fff;
    font-family: questrial;
    font-size: 12pt;
    padding-left: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#webinar-options p {
    font-size: 10pt;
    color: #808080;
    margin-left: 20px;
    padding-bottom: 6px;
}

#body-content-right-form {
    float: left;
    padding-top: 60px;
}

#webinar-form {
    left: 20px;
    width: 300px;
}

#mc_embed_signup {
    background-color: transparent !important;
}

#mc_embed_signup label {
    color: #fff;
    font-family: questrial;
    font-size: 10pt;
}

#mc_embed_signup h2 {
    color: #E5692C;
    font-family: questrial;
    font-size: 12pt;
    font-weight: normal !important;
}

.indicates-required {
    color: #fff;
}

.asterisk {
    z-index: 1;
}

#mc_embed_signup .input-group ul li label {
    left: 10px;
}

#mc-embedded-subscribe {
    background-image: url("../images/signup-button.png");
    display: block;
    width: 78px !important;
    height: 37px;
    background-color: transparent !important;
    cursor: pointer;
    float: right;
}

#mc_embed_signup input {
    border: none !important;
}

.webinarbutton:hover {
    background-image: url("../images/signup-button-alt.png");
}