.rg .item-0, .rg .stroke-0, .rg .item-7, .rg .stroke-7, .rg .item-14, .rg .stroke-14, .rg .item-21, .rg .stroke-21, .rg .item-28, .rg .stroke-28
{
border-color: #A9CCFE; stroke: #A9CCFE;
}

.rg .item-0, .rg .fill-0, .rg .item-7, .rg .fill-7, .rg .item-14, .rg .fill-14, .rg .item-21, .rg .fill-21, .rg .item-28, .rg .fill-28
{
background-color: #A9CCFE; fill: #A9CCFE;
}

.rg .item-1, .rg .stroke-1, .rg .item-8, .rg .stroke-8, .rg .item-15, .rg .stroke-15, .rg .item-22, .rg .stroke-22, .rg .item-29, .rg .stroke-29
{
border-color: #4B80CB; stroke: #4B80CB;
}

.rg .item-1, .rg .fill-1, .rg .item-8, .rg .fill-8, .rg .item-15, .rg .fill-15, .rg .item-22, .rg .fill-22, .rg .item-29, .rg .fill-29
{
background-color: #4B80CB; fill: #4B80CB;
}

.rg .item-2, .rg .stroke-2, .rg .item-9, .rg .stroke-9, .rg .item-16, .rg .stroke-16, .rg .item-23, .rg .stroke-23, .rg .item-30, .rg .stroke-30
{
border-color: #B3FF78; stroke: #B3FF78;
}

.rg .item-2, .rg .fill-2, .rg .item-9, .rg .fill-9, .rg .item-16, .rg .fill-16, .rg .item-23, .rg .fill-23, .rg .item-30, .rg .fill-30
{
background-color: #B3FF78; fill: #B3FF78;
}

.rg .item-3, .rg .stroke-3, .rg .item-10, .rg .stroke-10, .rg .item-17, .rg .stroke-17, .rg .item-24, .rg .stroke-24, .rg .item-31, .rg .stroke-31
{
border-color: #E4E4E4; stroke: #E4E4E4;
}

.rg .item-3, .rg .fill-3, .rg .item-10, .rg .fill-10, .rg .item-17, .rg .fill-17, .rg .item-24, .rg .fill-24, .rg .item-31, .rg .fill-31
{
background-color: #E4E4E4; fill: #E4E4E4;
}

.rg .item-4, .rg .stroke-4, .rg .item-11, .rg .stroke-11, .rg .item-18, .rg .stroke-18, .rg .item-25, .rg .stroke-25
{
border-color: #979797; stroke: #979797;
}

.rg .item-4, .rg .fill-4, .rg .item-11, .rg .fill-11, .rg .item-18, .rg .fill-18, .rg .item-25, .rg .fill-25
{
background-color: #979797; fill: #979797;
}

.rg .item-5, .rg .stroke-5, .rg .item-12, .rg .stroke-12, .rg .item-19, .rg .stroke-19, .rg .item-26, .rg .stroke-26
{
border-color: #275597; stroke: #275597;
}

.rg .item-5, .rg .fill-5, .rg .item-12, .rg .fill-12, .rg .item-19, .rg .fill-19, .rg .item-26, .rg .fill-26
{
background-color: #275597; fill: #275597;
}

.rg .item-6, .rg .stroke-6, .rg .item-13, .rg .stroke-13, .rg .item-20, .rg .stroke-20, .rg .item-27, .rg .stroke-27
{
border-color: #475364; stroke: #475364;
}

.rg .item-6, .rg .fill-6, .rg .item-13, .rg .fill-13, .rg .item-20, .rg .fill-20, .rg .item-27, .rg .fill-27
{
background-color: #475364; fill: #475364;
}

