/* SVG */
.rg 
{
	fill: none;
	stroke: none;
}

.rg line, .rg path
{
	stroke-width: 1;
}

.rg text
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:11px;
	line-height:14px;
	fill:#666;
	stroke-width: 0;
	text-rendering: optimizelegibility;
}

.rg .stream-chart path
{
	stroke: none;
	fill: #ccc;
}

.rg .group, .rg .group path:hover
{
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.rg .group path
{
/*	opacity: 0.6; */
}

.rg .group:hover path
{
	opacity: 1.0;
}

/* CHART DESIGN */
.rg
{
	fill: none;
	stroke: none;
	
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.rg g.group
{
	stroke-width: 5;
	stroke-miterjoin: miter;
	stroke-miterlimit: 1;
}

.rg g.group-0 path, .rg .bar-chart rect.bar-0
{
	border-color: #1f77b4;
	stroke: #1f77b4;
	fill: #1f77b4;
	color: #1f77b4;
}

.rg g.group-1 path, .rg .bar-chart rect.bar-1
{
	border-color: #aec7e8;
	stroke: #aec7e8;
	fill: #aec7e8;
}


.rg g.group-2 path, .rg .bar-chart rect.bar-2
{
	border-color: #ff7f0e;
	stroke: #ff7f0e;
	fill: #ff7f0e;
}

.rg  g.group-3 path, .rg .bar-chart rect.bar-3
{
	border-color: #ffbb78;
	stroke: #ffbb78;
	fill: #ffbb78;
}

.rg g.group-4 path, .rg .bar-chart rect.bar-4
{
	border-color: #2ca02c;
	stroke: #2ca02c;
	fill: #2ca02c;
}
	
.rg g.group-5 path, .rg .bar-chart rect.bar-5
{
	border-color: #98df8a;
	stroke: #98df8a;
	fill: #98df8a;
}
	
.rg g.group-6 path, .rg .bar-chart rect.bar-6
{
	border-color: #d62728;
	stroke: #d62728;
	fill: #d62728;
}
	
.rg g.group-7 path, .rg .bar-chart rect.bar-7
{
	border-color: #ff9896;
	stroke: #ff9896;
	fill: #ff9896;
}
	
.rg g.group-8 path, .rg .bar-chart rect.bar-8
{
	border-color: #9467bd;
	stroke: #9467bd;
	fill: #9467bd;
}
	
.rg g.group-9 path, .rg .bar-chart rect.bar-9
{
	border-color: #c5b0d5;
	stroke: #c5b0d5;
	fill: #c5b0d5;
}
	
.rg g.group-10 path, .rg .bar-chart rect.bar-10
{
	border-color: #8c564b;
	stroke: #8c564b;
	fill: #8c564b;
}
	
.rg g.group-11 path, .rg .bar-chart rect.bar-11
{
	border-color: #c49c94;
	stroke: #c49c94;
	fill: #c49c94;
}
	
.rg g.group-12 path, .rg .bar-chart rect.bar-12
{
	border-color: #e377c2;
	stroke: #e377c2;
	fill: #e377c2;
}
	
.rg g.group-13 path, .rg .bar-chart rect.bar-13
{
	border-color: #f7b6d2;
	stroke: #f7b6d2;
	fill: #f7b6d2;
}
	
.rg g.group-14 path, .rg .bar-chart rect.bar-14
{
	border-color: #7f7f7f;
	stroke: #7f7f7f;
	fill: #7f7f7f;
}
	
.rg g.group-15 path, .rg .bar-chart rect.bar-15
{
	border-color: #c7c7c7;
	stroke: #c7c7c7;
	fill: #c7c7c7;
}

.rg line, .rg path
{
	stroke: #999;
}

.rg .pie-chart g.group, .rg .stream-chart g.group
{
	stroke-width: 3;
	stroke-miterjoin:miter;
	stroke-miterlimit:1;
}

.rg .pie-chart g.group path, .rg .stream-chart g.group path
{
	stroke:none;
}

.rg .line-chart g.group path
{
	fill:none;
}

#tooltip
{
	text-align: center;
	font-weight: bold;
	background-color: #ffc;
	border: 1px solid #cc6;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	font-size:11px;
	line-height:14px;
	fill:#333;
	padding: 3px 8px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
}

.rg g.linechart-highlighter line, line.rule
{
	stroke-width: 1;
	shape-rendering: crispEdges;
	stroke-dasharray: 1, 1; 
	stroke: #000;
}

.rg g.linechart-highlighter rect
{
	fill: #fff;
	stroke: #999;
	stroke-width: 1px;
}

.rg line.rule
{
	stroke: #999;
}

.rg line.tick
{
	stroke-width: 1;
	shape-rendering: crispEdges;
	stroke: #666;
}

.rg rect.panel-frame
{
	fill: #fff;
	fill-opacity: 0;
}

.rg .line-chart path.line
{
	stroke-width: 3;
}

.rg .line-chart path.line:hover
{
	stroke-width: 4.5;
}

/*
.rg .line-chart.dimension-0 path.line
{
	stroke: #1f77b4 !important;
}

.rg .dimension-0 text
{
	fill: #1f77b4;
	stroke-width: 0 !important;
	font-weight: bold;
}
*/

.rg .dimension-0 text
{
	font-weight: bold;
}

.rg .line-chart.dimension-1 path.line
{
	stroke: #d62728 !important;
}

.rg .dimension-1 text
{
	fill: #d62728;
	stroke-width: 0 !important;
	font-weight: bold;
}

ul.leaderboard
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.leaderboard li
{
	padding: 0;
	margin: 0;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.0, rgb(250,250,250)),
		color-stop(1, rgb(97,155,255))
	);
	background-image: -moz-linear-gradient(
		left center,
		rgb(250,250,250) 0%,
		rgb(97,155,255) 100%
	);
	
	background-repeat: repeat-y;
	
	border: 1px solid #ccc;
	margin: 0 0 4px 0;
	max-width: 200px;
	padding: 4px 6px;
	
	font-weight: bold;
	font-size: 85%;
	
	-webkit-text-shadow: 0 1px 0 white;
	-moz-text-shadow: 0 1px 0 white;
	text-shadow: 0 1px 0 white;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
}

/* PIVOT TABLE */
.rg.pivot-table table
{
clear:left;
border-spacing:0;
}

.rg.pivot-table td
{
border-left: 1px solid #f0f0f0;
border-right: 1px solid #CECECE;
border-top: 1px solid #f0f0f0;
border-bottom: 1px solid #CECECE;
padding: 1px 6px 1px 3px;
text-align: right;

font-size: 85%;
text-shadow: 1px 1px 1px #aaa;
-moz-text-shadow: 0.5px 0.25px 1px #aaa;
min-width: 40px;
background-color: #fff;
}

.rg.pivot-table th
{
border-left: 1px solid #f0f0f0;
border-top: 1px solid #f0f0f0;
border-right: 1px solid #969696;
border-bottom: 1px solid #969696;
background-color: #e4e4e4;
padding: 0 2px 0 3px;
text-shadow: 1px 1px 0 #FFFFFF;
-moz-text-shadow: 1px 1px 0 #FFFFFF;
-webkit-text-shadow: 1px 1px 0 #FFFFFF;
font-weight: normal;
}

.rg.pivot-table tfoot th.column.total, .rg.pivot-table tbody th.row.total, .rg.pivot-table tfoot th.table.total
{
font-weight: bold;
font-size: 73%;
text-align: right;
padding-right: 4px;
}

.rg.pivot-table th.column.header, .rg.pivot-table th.row.header
{
font-weight: bold;
padding: 0px 6px;
font-size: 73%;
background-color: #eee;
color: #444;
}

.rg.pivot-table th.column.value, .rg.pivot-table th.row.value
{
font-weight: bold;
padding: 2px 6px;
font-size: 85%;
}

.rg.pivot-table thead th
{
	text-align: center;
}

.rg.pivot-table tbody th
{
	white-space: nowrap;
	text-align: left;
}

.rg.pivot-table td:hover
{
	border: 1px solid #0026FF !important;
}

.rg.pivot-table .spacer
{
	background: none;
	border: 0;
}

.rg .bar-chart rect
{
	shape-rendering: crispEdges;
	stroke-width: 1;
}

.rg .border
{
	stroke: #666;
	shape-rendering: crispEdges;
}

.rg .bar-chart text
{
	fill: #000;
	font-weight: bold;
}

.rg .pie-chart text
{
	fill: #000;
	font-weight: bold;
}

.rg .pie-chart path
{
	stroke-width: 1;
}