
@import url(http://fonts.googleapis.com/css?family=Abel);

    @font-face {
        font-family: 'RexliaFree';
        src: url('fonts/rexlia_free-webfont.eot');
        src: url('fonts/rexlia_free-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/rexlia_free-webfont.woff') format('woff'),
             url('fonts/rexlia_free-webfont.ttf') format('truetype'),
             url('fonts/rexlia_free-webfont.svg#RexliaFree') format('svg');
        font-weight: normal;
        font-style: normal;
    
    } 

body
{
	background-color: #000;
}

.wrapper {
	margin:auto;
	width: 1024px;
}

.docTitle {
	font-family:'Abel',sans-serif;
}

.header {
	padding-left:100px;
	background-repeat:no-repeat;
	background-image: url("../../images/rg_100x1024_header.png");
  	height:100px;
}

.mainContent {
	min-height:600px;
	text-align:left;
	background-color:#1F2126;
	padding: 0px 50px;
}
 

.footer {
	padding:1em 100px;
	color:#FFF;
	min-height:100px;
	text-align:center;
	background-repeat:no-repeat;
	background-image: url("../../images/rg_100x1024_footer.png");
}

.contentWhiteBG {
	background-color:#FFF;
	border-radius:0.25em;
	-moz-border-radius:0.25em;
	padding:2em;
	min-height:600px;
	}

.documentation{
	padding:1.5em;
	width:924px;
	margin:auto;
	font-family:Veranda, Arial, Helvetica, sans-serif;
	color:#666;
	background-color:#f9f9f9;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}

a {
	color:#09F;
	text-decoration:none;
}

.clear
{
	clear: left;
}

.chart
{
	float: left;
	width: 240px; /* 240px */
	height: 240px; /* 240px */
}

.wide
{
	width: 670px; /* 670px*/;
}

ul
{
	list-style: none;
}

ul, ul li
{
	padding: 0;
	margin: 0;
}

.container
{
	width: 736px;
	margin: 0 auto;
}
/*
.demos a.bar { background-image: url(../images/barchart.png); }
.demos a.pie { background-image: url(../images/piechart.png); }
.demos a.line { background-image: url(../images/linechart.png); }
.demos a.funnel { background-image: url(../images/funnelchart.png); }
.demos a.leaderboard { background-image: url(../images/leaderboard.png); }
.demos a.streamgraph { background-image: url(../images/streamgraph.png); }
.demos a.heatgrid { background-image: url(../images/heatgrid.png); }
.demos a.pivot { background-image: url(../images/pivottable.png); }
.demos a.scatter { background-image: url(../images/scatterplot.png); }
*/

.demos li
{	
	height:20px;
	width: 74px;
	overflow:hidden;
	padding-top:1em;
	float:left;
	text-align:center;
	margin-right:2px;
	-moz-border-radius-bottomright:.25em;
	-moz-border-radius-bottomleft:.25em;
	border-bottom-right-radius:.25em;
	border-bottom-left-radius:.25em;
}

.demos li a
{
	
	height: 20px;
	padding: 2px 10px 0 10px;
	vertical-align: center;
	color: #999;
	font-size: 90%;
	font-weight:bold;


}

.demos li a:hover
{
	color:#09F;
}
